<img src="https://www.th-koeln.de/img/logo.svg" style="float: right;" width="200">
<img src="https://www.femoz.de/assets/templates/femoz/images/logo-head-02.png" style="float: left;" width="200">

## <font color="#C70039">Creating a complex date table and inserting data into a PostgreSQL database</font>
* Project: FEMOZ
* Author of notebook: <a href="https://www.gernotheisenberg.de/">Gernot Heisenberg</a>
* Date:   11.03.2022

---------------------------------
### <font color="ce33ff">NOTE</font>:
All necessary calendar attributes are in here. 
In addition, it contains information on the seasons and idicates whether or not it is cyclone time of the year. 
However, we could think of adding more relevant information to it.

In [1]:
import pandas as pd

In [2]:
start= '1/1/1950' # start date of the calendar
end = '12/31/2080' # end date of the calendar

# PARAMETER SECTION
# -----------------

'''check for MOZ again'''
'''dates are from Erik Engel'''
dry_season_north = range(90, 304)  #(1.4-31.10)
dry_season_south = range(121, 334) #(1.5-30.11)
no_cyclone_time  = range(90, 334)  #(1.4-30.11)

In [3]:
# season determining method() as lookup table (see above)
def find_event_by_day_of_year(doy, event_type, area_of_MOZ):
    
    if event_type == 'season':
        if area_of_MOZ == 'north':
            if doy in dry_season_north:
                season = 0 # dry season := 0
            else:
                season = 1 # rainy season := 1
            return season
        else:
            if doy in dry_season_south:
                season = 0
            else:
                season = 1
            return season
    
    elif event_type == 'cyclone':
        if doy in no_cyclone_time:
            cyclone_time = 0 # cylone time =: 0 -> cylone = False
        else:
            cyclone_time = 1 # cylone time =: 1 -> cylone = True
        return cyclone_time
    
    else:
        print("done nothing, since unknown eventtype")
        
# assigns the season, adds it to the df and returns it
def assign_event(df, event_type):
    dayofyearcol = df['Day of Year ID']
    
    if event_type == 'season':
        season_series_north = pd.Series(dtype='float64')
        season_series_south = pd.Series(dtype='float64')

        for index, doy in dayofyearcol.items():
            season_series_north.loc[index] = find_event_by_day_of_year(doy, 'season', 'north')
            season_series_south.loc[index] = find_event_by_day_of_year(doy, 'season', 'south')
            #print(f"Index : {index}, Value : {doy}, Season : {season}")

        df['Season North']=season_series_north
        df['Season South']=season_series_south
        
    elif event_type == 'cyclone':
        cyclone_series = pd.Series(dtype='float64')

        for index, doy in dayofyearcol.items():
            cyclone_series.loc[index] = find_event_by_day_of_year(doy, 'cyclone', "dummy")
            #print(f"Index : {index}, Value : {doy}, Season : {season}")

        df['Cyclone Season']=cyclone_series
    else:
        print('done nothing')
    return df

In [4]:
df= pd.DataFrame(pd.date_range(start,end,freq="D"),columns =['Date'])

df['Day'] =df["Date"].dt.day
df['Month ID'] = df["Date"].dt.month
df['Year'] = df["Date"].dt.year
df['Day of Year ID'] = df["Date"].dt.dayofyear
df['Quarter of Year'] =df["Date"].dt.quarter
df['Half of Year'] = (df["Date"].dt.quarter-1)//2 + 1
df['Month Long'] = df["Date"].dt.strftime('%B')
df['Month Short'] = df["Date"].dt.strftime('%b')
df['Day Long'] = df["Date"].dt.strftime('%A')
df['Day Short'] = df["Date"].dt.strftime('%a')
df['Week ID'] = df["Date"].dt.strftime('%W')
df['Weekday ID'] = df["Date"].dt.weekday

# determine the season (dry vs. rainy) 
# as well as whether or not it is cyclone time
assign_event(df,"season")
assign_event(df,"cyclone")

,Date,Day,Month ID,Year,Day of Year ID,Quarter of Year,Half of Year,Month Long,Month Short,Day Long,Day Short,Week ID,Weekday ID,Season North,Season South,Cyclone Season
0,1950-01-01,1,1,1950,1,1,1,January,Jan,Sunday,Sun,00,6,1,1,1
1,1950-01-02,2,1,1950,2,1,1,January,Jan,Monday,Mon,01,0,1,1,1
2,1950-01-03,3,1,1950,3,1,1,January,Jan,Tuesday,Tue,01,1,1,1,1
3,1950-01-04,4,1,1950,4,1,1,January,Jan,Wednesday,Wed,01,2,1,1,1
4,1950-01-05,5,1,1950,5,1,1,January,Jan,Thursday,Thu,01,3,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47843,2080-12-27,27,12,2080,362,4,2,December,Dec,Friday,Fri,52,4,1,1,1
47844,2080-12-28,28,12,2080,363,4,2,December,Dec,Saturday,Sat,52,5,1,1,1
47845,2080-12-29,29,12,2080,364,4,2,December,Dec,Sunday,Sun,52,6,1,1,1
47846,2080-12-30,30,12,2080,365,4,2,December,Dec,Monday,Mon,53,0,1,1,1
47847,2080-12-31,31,12,2080,366,4,2,December,Dec,Tuesday,Tue,53,1,1,1,1

In [5]:
def store_into_db(db_name, tablename, df):
    from sqlalchemy import create_engine
    
    # Create a conncetion to the PostgreSQL database with your credentials
    conncection = create_engine('postgresql://gheisenberg:kjaAH34!67Jse@139.6.160.28:5432/' + db_name)

    # Take the dataframe and write it to a table you specify
    df.to_sql(tablename, conncection)

In [6]:
store_into_db("raw_data_db", 'calendar', df)
store_into_db("results_db",  'calendar', df)

NameError: name 'pd' is not defined