In [2]:
import geopandas as gpd
from shapely.geometry import Polygon, MultiPolygon
import os
import icecream as ic
import pandas as pd 
from concurrent.futures import ProcessPoolExecutor
from functools import partial
from pyproj import CRS

from dhs_preprocessing_functions import *

In [3]:
base_folder = '/mnt/datadisk/data/gis_data/fewsnet/'
fewsnet_p = base_folder + 'ALL_HFIC/'
folder_l = ['East Africa', 'West Africa', 'Southern Africa']
gaul_adm2_f = '/mnt/datadisk/data/gis_data/gaul_fixed/gaul_2015-2014_adm2.shp'
out_f = base_folder + 'fewsnet_gaul_adm2.csv'

coordinate_reference_system_wkt = """
PROJCS["Africa_Albers_Equal_Area_Conic",
GEOGCS["GCS_WGS_1984",
    DATUM["WGS_1984",
        SPHEROID["WGS_1984",6378137,298.257223563]],
    PRIMEM["Greenwich",0],
    UNIT["Degree",0.017453292519943295]],
PROJECTION["Albers_Conic_Equal_Area"],
PARAMETER["False_Easting",0],
PARAMETER["False_Northing",0],
PARAMETER["longitude_of_center",25],
PARAMETER["Standard_Parallel_1",20],
PARAMETER["Standard_Parallel_2",-23],
PARAMETER["latitude_of_center",0],
UNIT["Meter",1],
AUTHORITY["EPSG","102022"]]
"""
prj_str = '+proj=aea +lat_1=20 +lat_2=-23 +lat_0=0 +lon_0=25 +x_0=0 +y_0=0 +ellps=WGS84 +datum=WGS84 +units=m +no_defs'
africa_albers_crs = CRS(coordinate_reference_system_wkt)

In [4]:
files = []
for folder in os.listdir(fewsnet_p):
    if folder in folder_l:
        folder_p = os.path.join(fewsnet_p, folder)
        files.extend(get_files_by_extension(folder_p, '.shp'))
len(files)

138

In [5]:
gaul_adm2 = gpd.read_file(gaul_adm2_f)

In [6]:
gaul_adm2_d = gaul_adm2[gaul_adm2.duplicated(['adm0_name', 'adm1_name', 'adm2_name'])]
gaul_adm2_d

,OBJECTID,adm2_code,adm2_name,str2_year,exp2_year,adm1_code,adm1_name,status,disp_area,adm0_code,adm0_name,shape_leng,FID_1,Shape_Le_1,Shape_Area,geometry
129,130.0,40579.0,Administrative unit not available,0.0,0.0,40544.0,Bujumbura Rural,Member State,NO,43.0,Burundi,0.352109,129,0.352930,0.002627,"POLYGON ((29.29010 -3.35000, 29.28930 -3.35480..."
621,623.0,41376.0,Manhica,2013.0,0.0,41373.0,Maputo,Member State,NO,170.0,Mozambique,3.238343,622,3.247867,0.161485,"POLYGON ((32.80370 -24.98250, 32.80430 -24.983..."
1418,1420.0,74364.0,Kasai,2003.0,0.0,1069.0,Kasai Occidental,Member State,NO,68.0,Democratic Republic of the Congo,0.710118,1419,0.710141,0.031074,"POLYGON ((20.93130 -6.33930, 20.92810 -6.37980..."
1419,1421.0,74359.0,Kolwezi,0.0,0.0,1071.0,Katanga,Member State,NO,68.0,Democratic Republic of the Congo,0.454795,1420,0.454790,0.009497,"POLYGON ((25.55910 -10.71200, 25.55110 -10.732..."
4627,4629.0,18994.0,Name Unknown,0.0,0.0,1811.0,Quthing,Member State,NO,142.0,Lesotho,0.387503,4900,0.387433,0.004209,"POLYGON ((27.97630 -30.18740, 27.97760 -30.188..."
4628,4630.0,18995.0,Name Unknown,0.0,0.0,1811.0,Quthing,Member State,NO,142.0,Lesotho,0.769961,4901,0.769869,0.015634,"POLYGON ((28.10390 -30.21290, 28.10580 -30.214..."
4629,4631.0,18996.0,Name Unknown,0.0,0.0,1811.0,Quthing,Member State,NO,142.0,Lesotho,0.316463,4902,0.316549,0.002946,"POLYGON ((27.82050 -30.40740, 27.81950 -30.408..."
4630,4632.0,18997.0,Name Unknown,0.0,0.0,1811.0,Quthing,Member State,NO,142.0,Lesotho,0.900641,4903,0.900654,0.016090,"POLYGON ((28.28480 -30.14810, 28.28480 -30.148..."
4631,4633.0,18998.0,Name Unknown,0.0,0.0,1811.0,Quthing,Member State,NO,142.0,Lesotho,0.463599,4904,0.463488,0.005868,"POLYGON ((27.74500 -30.43650, 27.74780 -30.436..."
4632,4634.0,18999.0,Name Unknown,0.0,0.0,1811.0,Quthing,Member State,NO,142.0,Lesotho,0.555768,4905,0.555953,0.008373,"POLYGON ((27.66290 -30.43860, 27.66440 -30.439..."
4633,4635.0,19000.0,Name Unknown,0.0,0.0,1811.0,Quthing,Member State,NO,142.0,Lesotho,0.233296,4906,0.233453,0.002319,"POLYGON ((27.81660 -30.52990, 27.81740 -30.532..."
4634,4636.0,19001.0,Name Unknown,0.0,0.0,1811.0,Quthing,Member State,NO,142.0,Lesotho,0.229006,4907,0.228828,0.002566,"POLYGON ((28.12770 -30.17970, 28.12750 -30.180..."
4635,4637.0,19002.0,Name Unknown,0.0,0.0,1811.0,Quthing,Member State,NO,142.0,Lesotho,0.792213,4908,0.792324,0.016293,"POLYGON ((27.88250 -30.30430, 27.88180 -30.305..."
4636,4638.0,19003.0,Name Unknown,0.0,0.0,1811.0,Quthing,Member State,NO,142.0,Lesotho,0.121444,4909,0.121353,0.000731,"POLYGON ((28.20990 -30.14030, 28.20910 -30.142..."
4637,4639.0,19004.0,Name Unknown,0.0,0.0,1811.0,Quthing,Member State,NO,142.0,Lesotho,0.169299,4910,0.169207,0.000957,"POLYGON ((27.64300 -30.40030, 27.64310 -30.401..."
4638,4640.0,19005.0,Name Unknown,0.0,0.0,1811.0,Quthing,Member State,NO,142.0,Lesotho,0.158686,4911,0.158764,0.001035,"POLYGON ((27.61200 -30.40750, 27.61560 -30.407..."
4639,4641.0,19006.0,Name Unknown,0.0,0.0,1811.0,Quthing,Member State,NO,142.0,Lesotho,0.132897,4912,0.132857,0.000812,"POLYGON ((27.90720 -30.28360, 27.90600 -30.282..."
4640,4642.0,19007.0,Name Unknown,0.0,0.0,1811.0,Quthing,Member State,NO,142.0,Lesotho,0.352439,4913,0.352635,0.004042,"POLYGON ((27.72720 -30.35310, 27.72920 -30.353..."
4641,4643.0,19008.0,Name Unknown,0.0,0.0,1811.0,Quthing,Member State,NO,142.0,Lesotho,0.691783,4914,0.691762,0.019190,"POLYGON ((28.27880 -30.36370, 28.27070 -30.381..."
4642,4644.0,19009.0,Name Unknown,0.0,0.0,1811.0,Quthing,Member State,NO,142.0,Lesotho,0.075058,4915,0.075122,0.000234,"POLYGON ((27.58600 -30.44150, 27.57660 -30.420..."
4643,4645.0,19010.0,Name Unknown,0.0,0.0,1811.0,Quthing,Member State,NO,142.0,Lesotho,0.143706,4916,0.143809,0.000635,"POLYGON ((27.77110 -30.43330, 27.77360 -30.433..."
4644,4646.0,19011.0,Name Unknown,0.0,0.0,1811.0,Quthing,Member State,NO,142.0,Lesotho,0.312219,4917,0.312149,0.004127,"POLYGON ((28.06310 -30.08980, 28.06300 -30.090..."
4645,4647.0,19012.0,Name Unknown,0.0,0.0,1811.0,Quthing,Member State,NO,142.0,Lesotho,0.129754,4918,0.129750,0.000888,"POLYGON ((28.32080 -30.15630, 28.32420 -30.158..."
4646,4648.0,19013.0,Name Unknown,0.0,0.0,1811.0,Quthing,Member State,NO,142.0,Lesotho,0.231435,4919,0.231385,0.002348,"POLYGON ((27.68420 -30.39970, 27.68430 -30.399..."
4647,4649.0,19014.0,Name Unknown,0.0,0.0,1811.0,Quthing,Member State,NO,142.0,Lesotho,0.574152,4920,0.574202,0.007360,"POLYGON ((27.91640 -30.37860, 27.91580 -30.379..."
4648,4650.0,19015.0,Name Unknown,0.0,0.0,1811.0,Quthing,Member State,NO,142.0,Lesotho,0.178410,4921,0.178539,0.001546,"POLYGON ((27.89430 -30.26190, 27.89430 -30.262..."
4649,4651.0,19016.0,Name Unknown,0.0,0.0,1811.0,Quthing,Member State,NO,142.0,Lesotho,0.230483,4922,0.230464,0.002905,"POLYGON ((27.73460 -30.39250, 27.73860 -30.398..."
4650,4652.0,19017.0,Name Unknown,0.0,0.0,1811.0,Quthing,Member State,NO,142.0,Lesotho,0.091306,4923,0.091265,0.000288,"POLYGON ((28.28190 -30.18840, 28.28620 -30.188..."
4651,4653.0,19018.0,Name Unknown,0.0,0.0,1811.0,Quthing,Member State,NO,142.0,Lesotho,0.336151,4924,0.336028,0.004634,"POLYGON ((28.01540 -30.17960, 28.01610 -30.180..."
4652,4654.0,19019.0,Name Unknown,0.0,0.0,1811.0,Quthing,Member State,NO,142.0,Lesotho,0.226685,4925,0.226781,0.002397,"POLYGON ((28.03140 -30.14640, 28.03190 -30.147..."
4653,4655.0,19020.0,Name Unknown,0.0,0.0,1811.0,Quthing,Member State,NO,142.0,Lesotho,0.393683,4926,0.394076,0.004252,"POLYGON ((28.23480 -30.07830, 28.23350 -30.079..."
4654,4656.0,19021.0,Name Unknown,0.0,0.0,1811.0,Quthing,Member State,NO,142.0,Lesotho,0.217784,4927,0.217861,0.001869,"POLYGON ((27.84620 -30.26780, 27.84690 -30.268..."
4655,4657.0,19022.0,Name Unknown,0.0,0.0,1811.0,Quthing,Member State,NO,142.0,Lesotho,0.260905,4928,0.260941,0.002305,"POLYGON ((28.14670 -30.21210, 28.14730 -30.213..."
4656,4658.0,19023.0,Name Unknown,0.0,0.0,1811.0,Quthing,Member State,NO,142.0,Lesotho,0.076708,4929,0.076773,0.000324,"POLYGON ((27.60930 -30.38740, 27.61090 -30.388..."
4657,4659.0,19024.0,Name Unknown,0.0,0.0,1811.0,Quthing,Member State,NO,142.0,Lesotho,0.370543,4930,0.370682,0.002646,"POLYGON ((27.93880 -30.58430, 27.93580 -30.581..."
4658,4660.0,19025.0,Name Unknown,0.0,0.0,1811.0,Quthing,Member State,NO,142.0,Lesotho,0.353840,4931,0.353660,0.003921,"POLYGON ((27.88790 -30.48010, 27.88520 -30.479..."
4659,4661.0,19026.0,Name Unknown,0.0,0.0,1811.0,Quthing,Member State,NO,142.0,Lesotho,0.267144,4932,0.267214,0.002877,"POLYGON ((27.75630 -30.51520, 27.75560 -30.517..."
4660,4662.0,19027.0,Name Unknown,0.0,0.0,1811.0,Quthing,Member State,NO,142.0,Lesotho,0.120938,4933,0.121028,0.000525,"POLYGON ((28.24290 -30.14320, 28.24250 -30.144..."
4661,4663.0,19028.0,Name Unknown,0.0,0.0,1811.0,Quthing,Member State,NO,142.0,Lesotho,0.177904,4934,0.177771,0.001886,"POLYGON ((27.84010 -30.40780, 27.84050 -30.406..."
4662,4664.0,19029.0,Name Unknown,0.0,0.0,1811.0,Quthing,Member State,NO,142.0,Lesotho,0.121292,4935,0.121385,0.000658,"POLYGON ((27.65200 -30.38480, 27.65170 -30.385..."
4663,4665.0,19030.0,Name Unknown,0.0,0.0,1811.0,Quthing,Member State,NO,142.0,Lesotho,0.237002,4936,0.236903,0.002999,"POLYGON ((27.88790 -30.48010, 27.88870 -30.480..."
4664,4666.0,19031.0,Name Unknown,0.0,0.0,1811.0,Quthing,Member State,NO,142.0,Lesotho,0.082734,4937,0.082596,0.000183,"POLYGON ((27.57940 -30.36450, 27.57930 -30.364..."
4665,4667.0,19032.0,Name Unknown,0.0,0.0,1811.0,Quthing,Member State,NO,142.0,Lesotho,0.369587,4938,0.369742,0.005358,"POLYGON ((28.24330 -30.26400, 28.22900 -30.278..."
4666,4668.0,19033.0,Name Unknown,0.0,0.0,1811.0,Quthing,Member State,NO,142.0,Lesotho,0.115658,4939,0.115821,0.000550,"POLYGON ((28.23080 -30.13600, 28.23070 -30.136..."
4667,4669.0,19034.0,Name Unknown,0.0,0.0,1811.0,Quthing,Member State,NO,142.0,Lesotho,0.488249,4940,0.488126,0.008801,"POLYGON ((27.97690 -30.09780, 27.97770 -30.098..."
4668,4670.0,19035.0,Name Unknown,0.0,0.0,1811.0,Quthing,Member State,NO,142.0,Lesotho,0.104396,4941,0.104457,0.000626,"POLYGON ((27.89210 -30.22870, 27.89260 -30.229..."
4669,4671.0,19036.0,Name Unknown,0.0,0.0,1811.0,Quthing,Member State,NO,142.0,Lesotho,0.118924,4942,0.118885,0.000495,"POLYGON ((27.57940 -30.36450, 27.58110 -30.367..."
6223,6225.0,16868.0,Belier,2006.0,0.0,16841.0,Lacs,Member State,NO,66.0,CÃ´te d'Ivoire,3.613970,6500,3.613783,0.334644,"POLYGON ((-4.87140 7.60560, -4.86820 7.60540, ..."
6348,6351.0,11841.0,Name Unknown,0.0,0.0,694.0,Name Unknown,Member State,NO,37.0,Brazil,0.224636,19435,0.226641,0.000872,"MULTIPOLYGON (((-29.32450 -20.52940, -29.32470..."
6654,8490.0,68767.0,Administrative unit not available,0.0,0.0,68765.0,Administrative unit not available,Occupied Palestinian Territory,NO,267.0,West Bank,1.474027,31401,1.473718,0.007600,"POLYGON ((34.98630 31.96450, 34.98590 31.96140..."
7420,9256.0,40769.0,Name Unknown,0.0,0.0,40766.0,Notio Aigaio,Member State,NO,97.0,Greece,0.052627,36159,0.052712,0.000119,"POLYGON ((29.49950 36.15120, 29.49550 36.15040..."
7421,9257.0,40770.0,Name Unknown,0.0,0.0,40766.0,Notio Aigaio,Member State,NO,97.0,Greece,0.162949,36160,0.162886,0.000854,"POLYGON ((29.56860 36.10900, 29.56270 36.10880..."

In [7]:
gaul_adm2_d = gaul_adm2[gaul_adm2.duplicated(['adm0_name', 'adm1_name', 'adm2_name'])]
gaul_adm2_d[['adm0_name', 'adm1_name', 'adm2_name']]
#create unique "Name Unknown" etc. names
found_names = set([])
ic(len(gaul_adm2_d))
for id, row in gaul_adm2_d.iterrows():
    n = row['adm2_name']
    if n not in found_names:
        found_names.add(n)
        continue
    nr = 2
    name = n + ' ' + str(nr)
    while name in found_names:
        name = n + ' ' + str(nr)
        nr += 1
    found_names.add(name)
    gaul_adm2.loc[id, 'adm2_name'] = name

ic| len(gaul_adm2_d): 52

In [8]:
gaul_adm2_d = gaul_adm2[gaul_adm2.duplicated(['adm0_name', 'adm1_name', 'adm2_name'])]
gaul_adm2_d[['adm0_name', 'adm1_name', 'adm2_name']]
gaul_adm2[gaul_adm2['adm2_name'] == 'Kasai']

,OBJECTID,adm2_code,adm2_name,str2_year,exp2_year,adm1_code,adm1_name,status,disp_area,adm0_code,adm0_name,shape_leng,FID_1,Shape_Le_1,Shape_Area,geometry
1391,1393.0,74367.0,Kasai,2003.0,0.0,1069.0,Kasai Occidental,Member State,NO,68.0,Democratic Republic of the Congo,19.294114,1392,19.295214,7.838617,"POLYGON ((21.75540 -2.49130, 21.76880 -2.49800..."
1418,1420.0,74364.0,Kasai,2003.0,0.0,1069.0,Kasai Occidental,Member State,NO,68.0,Democratic Republic of the Congo,0.710118,1419,0.710141,0.031074,"POLYGON ((20.93130 -6.33930, 20.92810 -6.37980..."

In [9]:
gaul_adm2 = gaul_adm2.to_crs(africa_albers_crs)
#gaul_adm2.geometry = gaul_adm2.geometry.buffer(-0.0001)
gaul_adm2['gaul area sqm'] = gaul_adm2.geometry.area

In [10]:
  
def spatial_join_w_gaul(f, gaul_adm2=gaul_adm2):
    """Spatial join a shapefile to the gaul_adm2 shapefile
    
    Parameters
    ----------
    f : str
        path to shapefile
    gaul_adm2 : geopandas.GeoDataFrame
        gaul_adm2 shapefile
    
    Returns
    -------
    geopandas.GeoDataFrame
        joined dataframe
    """
    #ic(f)
    # Load your two shapefiles 
    poly_1 = gpd.read_file(f)
    poly_1 = poly_1.to_crs(africa_albers_crs)
    # Slightly shrink the geometries to remove small overlaps
    #poly_1.geometry = poly_1.geometry.buffer(-0.0001)

    # Compute the geometric intersection of the geometries in the two GeoDataFrames
    joined = gpd.overlay(gaul_adm2, poly_1, how='intersection', keep_geom_type=False)
    #joined = gpd.sjoin(gaul_adm2, poly_1, how="inner", predicate="intersects")
    
    # Retrieve file name
    file_name = os.path.basename(f)
    file_parts = file_name.split('_')
    if len(file_parts) != 3:
        ic(file_parts)
        raise ValueError('file name does not match expected format')
    
    if len(file_parts[1]) != 6:
        ic(file_parts)
        raise ValueError('file name does not match expected format')
    
    year = file_parts[1][:4]
    month = file_parts[1][4:]
    try:
        joined['year'] = int(year)
        joined['month'] = int(month)
    except ValueError as e:
        ic(year, month)
        raise ValueError(f'month or year is not an integer: {e}')
    
    # Find largest polygon for each row
    #joined['largest_polygon'] = joined['geometry'].apply(lambda x: 
     #   max(x.geoms if isinstance(x, MultiPolygon) else [x], key=lambda p: p.area))

       # Drop other polygons
    # Replace the existing 'geometry' column with the 'largest_polygon' column
    #joined.geometry = joined['largest_polygon']

    # Drop the 'largest_polygon' column
    #joined = joined.drop(columns=['largest_polygon'])
    
    # Compute the area of the intersection
    joined['intersection area sqm'] = joined.geometry.area
     # Compute the ratio of the intersection area to the gaul_adm2 area
    joined['area_ratio'] = joined['intersection area sqm'] / joined['gaul area sqm']

    # Set your minimum area ratio here
    min_area_ratio = 0.55  # 10%

    # Drop rows where the area ratio is less than the minimum
    joined = joined[joined['area_ratio'] >= min_area_ratio]
    if len(joined[joined['area_ratio'] < min_area_ratio]) > 0:
        ic(joined[joined['area_ratio'] < min_area_ratio][['adm0_name', 'adm1_name', 'adm2_name', 'area_ratio', 'CS', 'year', 'month']])
    
    # Now you can write the GeoDataFrame to a file
    #joined.to_file(out_f[:-4] + f'_{year}_{month}.shp', driver='ESRI Shapefile')
    return joined

In [11]:
partial_spatial_join_w_gaul = partial(spatial_join_w_gaul, gaul_adm2=gaul_adm2)
with ProcessPoolExecutor(max_workers=47) as executor:
    gdf_l = list(executor.map(partial_spatial_join_w_gaul, files))

#ic(gdf_l)
gdf_l[0]

,OBJECTID,adm2_code,adm2_name,str2_year,exp2_year,adm1_code,adm1_name,status,disp_area,adm0_code,...,FID_1,Shape_Le_1,Shape_Area,gaul area sqm,CS,geometry,year,month,intersection area sqm,area_ratio
11,1597.0,65431.0,Daguela,2000.0,0.0,873.0,Guera,Member State,NO,50.0,...,1596,4.864569,1.068880,1.294012e+10,1,"POLYGON ((-551682.957 1287588.686, -548444.423...",2009,7,1.294012e+10,1.000000
12,1599.0,65436.0,Dekakire,2000.0,0.0,873.0,Guera,Member State,NO,50.0,...,1598,1.330040,0.083421,1.008068e+09,1,"POLYGON ((-776668.891 1319564.923, -775390.692...",2009,7,1.008068e+09,1.000000
13,1602.0,65477.0,Gogmi,2000.0,0.0,873.0,Guera,Member State,NO,50.0,...,1601,2.463850,0.247936,2.993739e+09,1,"POLYGON ((-677510.840 1342220.439, -680943.739...",2009,7,2.993739e+09,1.000000
16,1605.0,65593.0,Melfi,2000.0,0.0,873.0,Guera,Member State,NO,50.0,...,1604,2.918849,0.501288,6.064507e+09,1,"POLYGON ((-670869.593 1276962.936, -671791.826...",2009,7,6.064506e+09,1.000000
17,1606.0,65606.0,Mokofi,2000.0,0.0,873.0,Guera,Member State,NO,50.0,...,1605,1.984134,0.231126,2.789912e+09,1,"POLYGON ((-742077.889 1357664.511, -740189.347...",2009,7,2.789912e+09,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1841,5611.0,19490.0,Aoujeft,0.0,0.0,2004.0,Adrar,Member State,NO,159.0,...,5886,7.434381,2.112745,2.456315e+10,3,"POLYGON ((-3955087.024 2342527.745, -3956514.8...",2009,7,2.410995e+10,0.981550
1846,5623.0,19503.0,Maghta Lahjar,0.0,0.0,2006.0,Brakna,Member State,NO,159.0,...,5898,4.641245,1.177646,1.382264e+10,3,"POLYGON ((-3903102.025 1976481.565, -3903150.6...",2009,7,1.373010e+10,0.993305
1847,5624.0,19504.0,Nouadhibou,0.0,0.0,2007.0,Dakhlet-Nouadhibou,Member State,NO,159.0,...,5899,16.272074,1.984308,2.291019e+10,3,"MULTIPOLYGON (((-4147056.411 2430230.744, -414...",2009,7,1.679366e+10,0.733021
1848,5632.0,19512.0,Bassikounou,0.0,0.0,2010.0,Hodh Ech Chargi,Member State,NO,159.0,...,5907,5.190273,1.453438,1.719599e+10,3,"POLYGON ((-3195228.375 1791125.335, -3197278.0...",2009,7,1.655284e+10,0.962599
1851,5642.0,19522.0,Nouakchott,0.0,0.0,2013.0,Nouakchott,Member State,NO,159.0,...,5917,0.620212,0.022709,2.660962e+08,3,"POLYGON ((-4274916.243 2063764.555, -4274693.1...",2009,7,2.625499e+08,0.986673

In [12]:
df = gpd.GeoDataFrame(pd.concat(gdf_l, axis=0, ignore_index=True))
df = df[df['CS'] <= 5]
merge_cols = ['adm2_name', 'adm1_name', 'adm0_name']
group_cols = ['adm2_name', 'adm1_name', 'adm0_name', 'month', 'year']

grouped_gdf = df.groupby(group_cols)

for id, group in grouped_gdf:
    if len(group) > 1:
        #drop the smaller area
        df.drop(group[group['area_ratio'] < group['area_ratio'].max()].index, inplace=True)
        
grouped_gdf = df.groupby(group_cols)

for id, group in grouped_gdf:
    if len(group) > 1:
        ic(group[group_cols + ['CS', 'area_ratio', 'intersection area sqm', 'gaul area sqm']])

In [13]:
df = df.drop_duplicates(group_cols)
csv_df = df.drop(columns=['geometry'])
csv_df.to_csv(out_f, index=False)

In [14]:
gaul_adm2b = gaul_adm2.merge(df[merge_cols].drop_duplicates(),
                             how='inner',
                             on=merge_cols)

gaul_adm2b

,OBJECTID,adm2_code,adm2_name,str2_year,exp2_year,adm1_code,adm1_name,status,disp_area,adm0_code,adm0_name,shape_leng,FID_1,Shape_Le_1,Shape_Area,geometry,gaul area sqm
0,1.0,40621.0,Ryansoro,0.0,0.0,40548.0,Gitega,Member State,NO,43.0,Burundi,0.754714,0,0.754908,0.013315,"POLYGON ((496288.608 -431254.979, 496193.976 -...",1.635631e+08
1,2.0,40667.0,Ndava,0.0,0.0,40555.0,Mwaro,Member State,NO,43.0,Burundi,0.721689,1,0.721861,0.013685,"POLYGON ((499404.614 -400379.415, 499352.089 -...",1.681628e+08
2,3.0,40593.0,Buyengero,0.0,0.0,40545.0,Bururi,Member State,NO,43.0,Burundi,0.744050,2,0.744971,0.016754,"POLYGON ((476715.760 -449735.627, 476362.499 -...",2.057737e+08
3,4.0,40580.0,Bugarama,2004.0,0.0,40544.0,Bujumbura Rural,Member State,NO,43.0,Burundi,0.622149,3,0.622037,0.010563,"POLYGON ((465268.183 -435503.214, 465423.123 -...",1.297627e+08
4,6.0,40591.0,Burambi,0.0,0.0,40545.0,Bururi,Member State,NO,43.0,Burundi,0.803154,5,0.804049,0.022236,"POLYGON ((464874.927 -440939.752, 465081.601 -...",2.731161e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3184,8840.0,32711.0,Juban,0.0,0.0,3408.0,Al Dhale'e,Member State,NO,269.0,Yemen,1.345190,31830,1.345397,0.100466,"POLYGON ((2083055.569 1658634.157, 2084295.395...",1.200621e+09
3185,8841.0,32712.0,Qa'atabah,0.0,0.0,3408.0,Al Dhale'e,Member State,NO,269.0,Yemen,1.272211,31831,1.272467,0.057365,"POLYGON ((2064542.199 1635393.380, 2065419.279...",6.858922e+08
3186,8842.0,32935.0,Al Jafariyah,0.0,0.0,144971.0,Raymah,Member State,NO,269.0,Yemen,0.873004,31832,0.873457,0.023535,"POLYGON ((1943044.343 1706863.096, 1943040.815...",2.806844e+08
3187,8843.0,32941.0,As Salafiyah,0.0,0.0,144971.0,Raymah,Member State,NO,269.0,Yemen,0.882384,31833,0.882354,0.031684,"POLYGON ((1957971.813 1728988.174, 1958163.975...",3.776079e+08
3188,8844.0,32947.0,Bilad At Ta'am,0.0,0.0,144971.0,Raymah,Member State,NO,269.0,Yemen,0.850867,31834,0.850852,0.034566,"POLYGON ((1946173.390 1740726.070, 1946596.552...",4.116557e+08

In [15]:
gaul_adm2b[gaul_adm2b['adm2_name'] == 'Manhica'][['adm0_name', 'adm1_name', 'adm2_name', 'Shape_Area', 'geometry']]

,adm0_name,adm1_name,adm2_name,Shape_Area,geometry
547,Mozambique,Maputo,Manhica,0.050725,"POLYGON ((808074.132 -2904226.965, 808084.338 ..."
548,Mozambique,Maputo,Manhica,0.161485,"POLYGON ((799329.522 -2894199.534, 799390.653 ..."

In [16]:
df[df[merge_cols + ['year', 'month']].duplicated()]
df[df['adm2_name'] == 'Manhica'][['adm0_name', 'adm1_name', 'adm2_name', 'year', 'month', 'CS']]

         adm0_name adm1_name adm2_name  year  month   CS
92532   Mozambique    Maputo   Manhica  2009      7  1.0
92834   Mozambique    Maputo   Manhica  2009     10  1.0
93121   Mozambique    Maputo   Manhica  2010      1  1.0
93408   Mozambique    Maputo   Manhica  2010      4  1.0
93741   Mozambique    Maputo   Manhica  2010      7  1.0
94036   Mozambique    Maputo   Manhica  2010     10  1.0
94338   Mozambique    Maputo   Manhica  2011      1  1.0
94668   Mozambique    Maputo   Manhica  2011      4  1.0
94972   Mozambique    Maputo   Manhica  2011      7  1.0
95274   Mozambique    Maputo   Manhica  2011     10  1.0
95577   Mozambique    Maputo   Manhica  2012      1  1.0
95878   Mozambique    Maputo   Manhica  2012      4  1.0
96182   Mozambique    Maputo   Manhica  2012      7  1.0
96458   Mozambique    Maputo   Manhica  2012     10  1.0
96754   Mozambique    Maputo   Manhica  2013      1  1.0
97063   Mozambique    Maputo   Manhica  2013      4  1.0
97366   Mozambique    Maputo   Manhica  2013      7  1.0
97667   Mozambique    Maputo   Manhica  2013     10  1.0
97960   Mozambique    Maputo   Manhica  2014      1  1.0
98252   Mozambique    Maputo   Manhica  2014      4  1.0
98554   Mozambique    Maputo   Manhica  2014      7  1.0
98854   Mozambique    Maputo   Manhica  2014     10  1.0
99154   Mozambique    Maputo   Manhica  2015      1  1.0
99453   Mozambique    Maputo   Manhica  2015      4  1.0
99736   Mozambique    Maputo   Manhica  2015      7  1.0
100032  Mozambique    Maputo   Manhica  2015     10  1.0
100419  Mozambique    Maputo   Manhica  2016      2  1.0
100926  Mozambique    Maputo   Manhica  2016      6  2.0
101040  Mozambique    Maputo   Manhica  2016     10  2.0
101783  Mozambique    Maputo   Manhica  2017      2  2.0
102201  Mozambique    Maputo   Manhica  2017      6  1.0
102726  Mozambique    Maputo   Manhica  2017     10  1.0
103182  Mozambique    Maputo   Manhica  2018      2  1.0
103578  Mozambique    Maputo   Manhica  2018      6  1.0
104338  Mozambique    Maputo   Manhica  2018     12  1.0
104729  Mozambique    Maputo   Manhica  2019      2  1.0
105129  Mozambique    Maputo   Manhica  2019      6  1.0
105497  Mozambique    Maputo   Manhica  2019     10  1.0
105732  Mozambique    Maputo   Manhica  2020      2  2.0
106130  Mozambique    Maputo   Manhica  2020      6  2.0
106540  Mozambique    Maputo   Manhica  2020     10  2.0
106867  Mozambique    Maputo   Manhica  2021      2  3.0
107309  Mozambique    Maputo   Manhica  2021      6  2.0
107751  Mozambique    Maputo   Manhica  2021     10  2.0
108074  Mozambique    Maputo   Manhica  2022      2  2.0

In [17]:
def gaul_merger(g, gaul_df, to_merge_cols, merge_cols=['adm2_name', 'adm1_name', 'adm0_name']):
    g = g[1]
    
    if len(g) != len(g[merge_cols].drop_duplicates()):
        ic(g[g.duplicated()][merge_cols + to_merge_cols])
    if len(gaul_df) != len(gaul_df[merge_cols].drop_duplicates()):
        ic(gaul_df[gaul_df.duplicated()][merge_cols])
    date_str = str(g['month'].iloc[0]).zfill(2) + str(g['year'].iloc[0])
    g = g.rename(columns={c: c + '_' + date_str for c in to_merge_cols})
    to_merge_cols2 = [c + '_' + date_str for c in to_merge_cols]
    out_df = gaul_df[merge_cols].merge(g[to_merge_cols2 + merge_cols],
                                     on=merge_cols, right_index=False, how='left')[merge_cols + to_merge_cols2]

    return out_df

In [19]:
# Group by "year" and "month" and aggregate the geometries
cols = ['CS', 'HA', 'HA0'] + merge_cols + ['year', 'month']
cols = [c for c in cols if c in df.columns or c.lower() in [c2.lower() for c2 in df.columns]]
to_merge_cols = [c for c in cols if c not in merge_cols + ['year', 'month']]
ic(to_merge_cols)
grouped_gdf = df[cols]
grouped_gdf = grouped_gdf.groupby(['year', 'month'])

fs_df = gaul_adm2b
for id, gdf in grouped_gdf:
    date_str = str(gdf['month'].iloc[0]).zfill(2) + str(gdf['year'].iloc[0])
    gdf = gdf.rename(columns={c: c + '_' + date_str for c in to_merge_cols})
    to_merge_cols2 = [c + '_' + date_str for c in to_merge_cols]
    fs_df = pd.merge(fs_df, gdf[merge_cols + to_merge_cols2], on=merge_cols, how='left')
ic(fs_df.columns)
ic(fs_df.shape)
ic(type(fs_df))
fs_df


#partial_gaul_merger = partial(gaul_merger, gaul_df=gaul_adm2b, to_merge_cols=to_merge_cols)
#with ProcessPoolExecutor(max_workers=47) as executor:
 #   gdf_parts = list(executor.map(partial_gaul_merger, grouped_gdf))

#gdf_parts[0]

ic| to_merge_cols: ['CS', 'HA', 'HA0']
ic| fs_df.columns: Index(['OBJECTID', 'adm2_code', 'adm2_name', 'str2_year', 'exp2_year',
                          'adm1_code', 'adm1_name', 'status', 'disp_area', 'adm0_code',
                          ...
                          'HA0_022021', 'CS_062021', 'HA_062021', 'HA0_062021', 'CS_102021',
                          'HA_102021', 'HA0_102021', 'CS_022022', 'HA_022022', 'HA0_022022'],
                         dtype='object', length=155)
ic| fs_df.shape: (3189, 155)
ic| type(fs_df): <class 'geopandas.geodataframe.GeoDataFrame'>

,OBJECTID,adm2_code,adm2_name,str2_year,exp2_year,adm1_code,adm1_name,status,disp_area,adm0_code,...,HA0_022021,CS_062021,HA_062021,HA0_062021,CS_102021,HA_102021,HA0_102021,CS_022022,HA_022022,HA0_022022
0,1.0,40621.0,Ryansoro,0.0,0.0,40548.0,Gitega,Member State,NO,43.0,...,0.0,1.0,NaN,0.0,1.0,NaN,0.0,1.0,NaN,0.0
1,2.0,40667.0,Ndava,0.0,0.0,40555.0,Mwaro,Member State,NO,43.0,...,0.0,1.0,NaN,0.0,1.0,NaN,0.0,1.0,NaN,0.0
2,3.0,40593.0,Buyengero,0.0,0.0,40545.0,Bururi,Member State,NO,43.0,...,0.0,1.0,NaN,0.0,1.0,NaN,0.0,1.0,NaN,0.0
3,4.0,40580.0,Bugarama,2004.0,0.0,40544.0,Bujumbura Rural,Member State,NO,43.0,...,0.0,1.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,6.0,40591.0,Burambi,0.0,0.0,40545.0,Bururi,Member State,NO,43.0,...,0.0,1.0,NaN,0.0,1.0,NaN,0.0,1.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3184,8840.0,32711.0,Juban,0.0,0.0,3408.0,Al Dhale'e,Member State,NO,269.0,...,0.0,3.0,NaN,0.0,NaN,NaN,NaN,3.0,NaN,0.0
3185,8841.0,32712.0,Qa'atabah,0.0,0.0,3408.0,Al Dhale'e,Member State,NO,269.0,...,0.0,3.0,NaN,0.0,NaN,NaN,NaN,3.0,NaN,0.0
3186,8842.0,32935.0,Al Jafariyah,0.0,0.0,144971.0,Raymah,Member State,NO,269.0,...,0.0,3.0,NaN,0.0,NaN,NaN,NaN,3.0,NaN,0.0
3187,8843.0,32941.0,As Salafiyah,0.0,0.0,144971.0,Raymah,Member State,NO,269.0,...,0.0,3.0,NaN,0.0,NaN,NaN,NaN,3.0,NaN,0.0
3188,8844.0,32947.0,Bilad At Ta'am,0.0,0.0,144971.0,Raymah,Member State,NO,269.0,...,0.0,3.0,NaN,0.0,NaN,NaN,NaN,3.0,NaN,0.0

:

In [20]:
fs_df = gpd.GeoDataFrame(fs_df)
#fs_df = pd.concat([gaul_adm2b[['adm2_name']]] + gdf_parts, axis=1)
#drop dupl
#fs_df

In [21]:
gaul_adm2b[['adm2_name']]

           adm2_name
0           Ryansoro
1              Ndava
2          Buyengero
3           Bugarama
4            Burambi
...              ...
3184           Juban
3185       Qa'atabah
3186    Al Jafariyah
3187    As Salafiyah
3188  Bilad At Ta'am

[3189 rows x 1 columns]

In [22]:
fs_df

,OBJECTID,adm2_code,adm2_name,str2_year,exp2_year,adm1_code,adm1_name,status,disp_area,adm0_code,...,HA0_022021,CS_062021,HA_062021,HA0_062021,CS_102021,HA_102021,HA0_102021,CS_022022,HA_022022,HA0_022022
0,1.0,40621.0,Ryansoro,0.0,0.0,40548.0,Gitega,Member State,NO,43.0,...,0.0,1.0,NaN,0.0,1.0,NaN,0.0,1.0,NaN,0.0
1,2.0,40667.0,Ndava,0.0,0.0,40555.0,Mwaro,Member State,NO,43.0,...,0.0,1.0,NaN,0.0,1.0,NaN,0.0,1.0,NaN,0.0
2,3.0,40593.0,Buyengero,0.0,0.0,40545.0,Bururi,Member State,NO,43.0,...,0.0,1.0,NaN,0.0,1.0,NaN,0.0,1.0,NaN,0.0
3,4.0,40580.0,Bugarama,2004.0,0.0,40544.0,Bujumbura Rural,Member State,NO,43.0,...,0.0,1.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,6.0,40591.0,Burambi,0.0,0.0,40545.0,Bururi,Member State,NO,43.0,...,0.0,1.0,NaN,0.0,1.0,NaN,0.0,1.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3184,8840.0,32711.0,Juban,0.0,0.0,3408.0,Al Dhale'e,Member State,NO,269.0,...,0.0,3.0,NaN,0.0,NaN,NaN,NaN,3.0,NaN,0.0
3185,8841.0,32712.0,Qa'atabah,0.0,0.0,3408.0,Al Dhale'e,Member State,NO,269.0,...,0.0,3.0,NaN,0.0,NaN,NaN,NaN,3.0,NaN,0.0
3186,8842.0,32935.0,Al Jafariyah,0.0,0.0,144971.0,Raymah,Member State,NO,269.0,...,0.0,3.0,NaN,0.0,NaN,NaN,NaN,3.0,NaN,0.0
3187,8843.0,32941.0,As Salafiyah,0.0,0.0,144971.0,Raymah,Member State,NO,269.0,...,0.0,3.0,NaN,0.0,NaN,NaN,NaN,3.0,NaN,0.0
3188,8844.0,32947.0,Bilad At Ta'am,0.0,0.0,144971.0,Raymah,Member State,NO,269.0,...,0.0,3.0,NaN,0.0,NaN,NaN,NaN,3.0,NaN,0.0

In [23]:
#gaul_adm2b = gaul_adm2b.merge(fs_df, on='adm2_name')

gaul_adm2b

,OBJECTID,adm2_code,adm2_name,str2_year,exp2_year,adm1_code,adm1_name,status,disp_area,adm0_code,adm0_name,shape_leng,FID_1,Shape_Le_1,Shape_Area,geometry,gaul area sqm
0,1.0,40621.0,Ryansoro,0.0,0.0,40548.0,Gitega,Member State,NO,43.0,Burundi,0.754714,0,0.754908,0.013315,"POLYGON ((496288.608 -431254.979, 496193.976 -...",1.635631e+08
1,2.0,40667.0,Ndava,0.0,0.0,40555.0,Mwaro,Member State,NO,43.0,Burundi,0.721689,1,0.721861,0.013685,"POLYGON ((499404.614 -400379.415, 499352.089 -...",1.681628e+08
2,3.0,40593.0,Buyengero,0.0,0.0,40545.0,Bururi,Member State,NO,43.0,Burundi,0.744050,2,0.744971,0.016754,"POLYGON ((476715.760 -449735.627, 476362.499 -...",2.057737e+08
3,4.0,40580.0,Bugarama,2004.0,0.0,40544.0,Bujumbura Rural,Member State,NO,43.0,Burundi,0.622149,3,0.622037,0.010563,"POLYGON ((465268.183 -435503.214, 465423.123 -...",1.297627e+08
4,6.0,40591.0,Burambi,0.0,0.0,40545.0,Bururi,Member State,NO,43.0,Burundi,0.803154,5,0.804049,0.022236,"POLYGON ((464874.927 -440939.752, 465081.601 -...",2.731161e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3184,8840.0,32711.0,Juban,0.0,0.0,3408.0,Al Dhale'e,Member State,NO,269.0,Yemen,1.345190,31830,1.345397,0.100466,"POLYGON ((2083055.569 1658634.157, 2084295.395...",1.200621e+09
3185,8841.0,32712.0,Qa'atabah,0.0,0.0,3408.0,Al Dhale'e,Member State,NO,269.0,Yemen,1.272211,31831,1.272467,0.057365,"POLYGON ((2064542.199 1635393.380, 2065419.279...",6.858922e+08
3186,8842.0,32935.0,Al Jafariyah,0.0,0.0,144971.0,Raymah,Member State,NO,269.0,Yemen,0.873004,31832,0.873457,0.023535,"POLYGON ((1943044.343 1706863.096, 1943040.815...",2.806844e+08
3187,8843.0,32941.0,As Salafiyah,0.0,0.0,144971.0,Raymah,Member State,NO,269.0,Yemen,0.882384,31833,0.882354,0.031684,"POLYGON ((1957971.813 1728988.174, 1958163.975...",3.776079e+08
3188,8844.0,32947.0,Bilad At Ta'am,0.0,0.0,144971.0,Raymah,Member State,NO,269.0,Yemen,0.850867,31834,0.850852,0.034566,"POLYGON ((1946173.390 1740726.070, 1946596.552...",4.116557e+08

In [ ]:
#gaul_adm2b.columns

Index(['OBJECTID', 'adm2_code', 'adm2_name', 'str2_year', 'exp2_year',
       'adm1_code', 'adm1_name', 'status', 'disp_area', 'adm0_code',
       ...
       'HA0_022021', 'CS_062021', 'HA_062021', 'HA0_062021', 'CS_102021',
       'HA_102021', 'HA0_102021', 'CS_022022', 'HA_022022', 'HA0_022022'],
      dtype='object', length=155)

In [24]:
fs_df.to_file(out_f[:-4] + '.shp')

/tmp/ipykernel_1303565/999330070.py:1: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  fs_df.to_file(out_f[:-4] + '.shp')