# DHS grouping
Does further preprocessing steps after the unified columns have been loaded from DHS_loading_from_preprocessing.ipynb
Especially:
- loading locations file and merging them
- groups on either GEID (a survey ID) and adm2 or GEID and cluster ID
- creates DHS dataset

In [20]:
from icecream import ic
import scipy.stats
import pandas as pd
import numpy as np
from warnings import warn

In [21]:
# folder_path = "/mnt/datadisk/data/surveys/DHS_final_raw_data/"
# work_dir = "/mnt/datadisk/data/Projects/water/pickles/"
input_dir = "/mnt/datadisk/data/Projects/water/inputs/"
# min_version = 3
overwrite_pqt = True
dataset_type = 'HR'  #, 'BR', 'CR', 'HW', 'IR', 'KR', 'MR', 'PR', 'AR'] ??['AN', 'FC, 'FP', 'HW', 'PV', 'SC'] < 25 surveys
# 'BR' (birth R), 'HW!' (WHO height/weight standards children), 'IR'/'PR'? (Individual R, hh member R,), 'KR' (children R), 'AR' (HIV R)

# 'adm2_gaul' or 'cluster number' (possibly 'adm1_gaul' etc.); additionally to survey ID
group_by_col = 'adm2_gaul'
preprocessing_f = f"{input_dir}Manually_adjusted_df_V3_{dataset_type}.pkl"
# unify_columns_f = f"{input_dir}summary_df_V3_{dataset_type}_unify_cols_reviewed.csv"
locations_f = input_dir + 'locations.csv'
add_str = '_w_NANs' # '_w_NANs' or '_wo_NANs'
# numeric_out_f = f"{input_dir}grouped_df_V3_{dataset_type}_{group_by_col}_numeric{add_str}.pkl"
out_f = f"{input_dir}grouped_df_V3_{dataset_type}_{group_by_col}{add_str}.pkl"
meta_data_cols_out_f = f"{input_dir}grouped_df_V3_{dataset_type}_{group_by_col}_meta_data_cols{add_str}.pkl"
# cut_perc = 10

In [22]:
locations_df = pd.read_csv(locations_f)
print(locations_df.columns.to_list())
locations_df = locations_df[['GEID', 'TIF_name', 'adm2_name', 'adm1_name', 'adm0_name', 'DHSCLUST', 'URBAN_RURA']]
locations_df = locations_df.rename(columns={'GEID': 'GEID_init'})
locations_df = locations_df.rename(columns={'TIF_name': 'GEID', 'adm2_name': 'adm2_gaul', 'adm1_name': 'adm1_gaul', 'adm0_name': 'adm0_gaul', 'DHSCLUST': 'DHSCLUST'})
locations_df

['country', 'DHSID', 'DHSCC', 'DHSYEAR', 'DHSCLUST', 'CCFIPS', 'ADM1FIPS', 'ADM1FIPSNA', 'ADM1SALBNA', 'ADM1SALBCO', 'ADM1DHS', 'ADM1NAME', 'DHSREGCO', 'DHSREGNA', 'SOURCE', 'URBAN_RURA', 'LATNUM', 'LONGNUM', 'ALT_GPS', 'ALT_DEM', 'DATUM', 'GEID', 'TIF_name', 'adm2_code', 'adm2_name', 'adm1_code', 'adm1_name', 'adm0_code', 'adm0_name', 'Shape_Area']

,GEID_init,GEID,adm2_gaul,adm1_gaul,adm0_gaul,DHSCLUST,URBAN_RURA
0,AOGE52FL,AOGE52FL00000001,Lobito,Benguela,Angola,1,U
1,AOGE52FL,AOGE52FL00000002,Lobito,Benguela,Angola,2,U
2,AOGE52FL,AOGE52FL00000003,Benguela,Benguela,Angola,3,U
3,AOGE52FL,AOGE52FL00000004,Sumbe,Cuanza Sul,Angola,4,U
4,AOGE52FL,AOGE52FL00000005,Dande,Bengo,Angola,5,U
...,...,...,...,...,...,...,...
70751,ZWGE72FL,ZWGE72FL00000396,Harare,Harare,Zimbabwe,396,U
70752,ZWGE72FL,ZWGE72FL00000397,Makoni,Manicaland,Zimbabwe,397,R
70753,ZWGE72FL,ZWGE72FL00000398,Hurungwe,Mashonaland West,Zimbabwe,398,R
70754,ZWGE72FL,ZWGE72FL00000399,Harare,Harare,Zimbabwe,399,U
70755,ZWGE72FL,ZWGE72FL00000400,Murehwa,Mashonaland East,Zimbabwe,400,R

In [23]:
df = pd.read_pickle(preprocessing_f)
print(len(df['generated clnr from case id'].dropna()), len(df['generated hhnr from case id'].dropna()))
#these are empty from steps before
df = df.drop(columns=['generated clnr from case id', 'generated hhnr from case id'])

12110 84200

In [24]:
df = df.merge(locations_df, on='GEID', how='inner')
df[df['cluster number'] != df['DHSCLUST']][['GEID', 'adm2_gaul', 'adm1_gaul', 'adm0_gaul', 'DHSCLUST', 'cluster number']]

,GEID,adm2_gaul,adm1_gaul,adm0_gaul,DHSCLUST,cluster number
455349,GHGE33FL00000082,Agona West,Central,Ghana,81,82
455350,GHGE33FL00000082,Agona West,Central,Ghana,81,82
455351,GHGE33FL00000082,Agona West,Central,Ghana,81,82
455352,GHGE33FL00000082,Agona West,Central,Ghana,81,82
455353,GHGE33FL00000082,Agona West,Central,Ghana,81,82
...,...,...,...,...,...,...
1479154,UGGE61FL00000132,Central Kampala,Kampala,Uganda,63,132
1479155,UGGE61FL00000132,Central Kampala,Kampala,Uganda,63,132
1479156,UGGE61FL00000132,Central Kampala,Kampala,Uganda,63,132
1479157,UGGE61FL00000132,Central Kampala,Kampala,Uganda,63,132
1479158,UGGE61FL00000132,Central Kampala,Kampala,Uganda,63,132

In [25]:
df[['type of place of residence', 'URBAN_RURA']].value_counts(normalize=True, dropna=False) * 100

type of place of residence  URBAN_RURA
rural                       R             65.062716
urban                       U             34.874341
rural                       U              0.050168
urban                       R              0.012775
Name: proportion, dtype: float64

In [26]:
df2 = df[~df['cluster number'] != df['DHSCLUST']]
print(len(df))
df2

1612581

,country code and phase,GEID,DHSID,DHSID + HHID,version_nr,subversion_nr,cluster number,household number,number of household members,month of interview,...,share toilet with other households: applicable,share toilet with other households: not applicable,number of households sharing toilet: applicable,number of households sharing toilet: not applicable,GEID_init,adm2_gaul,adm1_gaul,adm0_gaul,DHSCLUST,URBAN_RURA
0,AO5,AOGE52FL00000001,AOHR51SV00000001,AOHR51SV0000000100000001,5,1,1,1,3.0,12.0,...,1.0,0.0,1.0,0.0,AOGE52FL,Lobito,Benguela,Angola,1,U
1,AO5,AOGE52FL00000001,AOHR51SV00000001,AOHR51SV0000000100000002,5,1,1,2,3.0,12.0,...,1.0,0.0,1.0,0.0,AOGE52FL,Lobito,Benguela,Angola,1,U
2,AO5,AOGE52FL00000001,AOHR51SV00000001,AOHR51SV0000000100000003,5,1,1,3,3.0,12.0,...,1.0,0.0,1.0,0.0,AOGE52FL,Lobito,Benguela,Angola,1,U
3,AO5,AOGE52FL00000001,AOHR51SV00000001,AOHR51SV0000000100000004,5,1,1,4,5.0,12.0,...,1.0,0.0,1.0,0.0,AOGE52FL,Lobito,Benguela,Angola,1,U
4,AO5,AOGE52FL00000001,AOHR51SV00000001,AOHR51SV0000000100000005,5,1,1,5,3.0,12.0,...,1.0,0.0,1.0,0.0,AOGE52FL,Lobito,Benguela,Angola,1,U
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1612576,ZW7,ZWGE72FL00000400,ZWHR72SV00000400,ZWHR72SV0000040000000025,7,2,400,25,5.0,11.0,...,1.0,0.0,1.0,0.0,ZWGE72FL,Murehwa,Mashonaland East,Zimbabwe,400,R
1612577,ZW7,ZWGE72FL00000400,ZWHR72SV00000400,ZWHR72SV0000040000000026,7,2,400,26,2.0,11.0,...,0.0,1.0,0.0,1.0,ZWGE72FL,Murehwa,Mashonaland East,Zimbabwe,400,R
1612578,ZW7,ZWGE72FL00000400,ZWHR72SV00000400,ZWHR72SV0000040000000027,7,2,400,27,5.0,11.0,...,1.0,0.0,1.0,0.0,ZWGE72FL,Murehwa,Mashonaland East,Zimbabwe,400,R
1612579,ZW7,ZWGE72FL00000400,ZWHR72SV00000400,ZWHR72SV0000040000000028,7,2,400,28,8.0,11.0,...,1.0,0.0,1.0,0.0,ZWGE72FL,Murehwa,Mashonaland East,Zimbabwe,400,R
1612580,ZW7,ZWGE72FL00000400,ZWHR72SV00000400,ZWHR72SV0000040000000029,7,2,400,29,6.0,11.0,...,1.0,0.0,1.0,0.0,ZWGE72FL,Murehwa,Mashonaland East,Zimbabwe,400,R

In [27]:
### Splitting numeric and string columns as well as meta data columns
df = df2

df = df[(df['year of interview'].notna())
        & (df['month of interview'].notna()) & (df['day of interview'].notna())]
# Initialize empty lists to hold the names of numeric and categorical columns
numeric_columns = [df[['GEID', 'household number', 'GEID_init', group_by_col]]]
categorical_columns = [df[['GEID', 'household number', 'GEID_init', group_by_col]]]
meta_data_cols = ['country code and phase', 'GEID', 'DHSID', 'DHSID + HHID', 'version_nr', 'subversion_nr', 'household number', 'case identification', 'DHSCLUST', 'country code', 
       'adm1_gaul', 'adm0_gaul', 'GEID_init', 'month of interview',
       'year of interview', 'day of interview', 'cluster number', 'adm2_gaul', 'URBAN_RURA'
    #    'generated hhnr from case id',
    #    'generated clnr from case id', 
       ]
if group_by_col not in meta_data_cols:
    warn(f'group_by_col {group_by_col} not in meta_data_cols, may result in errors!')
    meta_data_cols.append(group_by_col)
    
# Iterate over each column
for col in df.columns:
    if col in meta_data_cols:
        continue
    found_nr = False
    # Create a new column for the numeric values
    nrcol = pd.to_numeric(df[col], errors='coerce')
    if nrcol.notna().sum() > 0:
        found_nr = True
        numeric_columns.append(nrcol)
    # Create a new column for the non-numeric values
    str_col = df[col].where(nrcol.isna())
    if str_col.notna().sum() > 0:
        categorical_columns.append(str_col)
        if found_nr:
            print('found both', col)

found both language of interview
found both type of cooking fuel
found both owns land usable for agriculture
found both hectares of agricultural land (1 decimal)
found both number of rooms used for sleeping

In [28]:
meta_data_df = df[meta_data_cols].copy()
print('cluster number' in meta_data_df.columns, 'GEID_init' in meta_data_df.columns)
print([c for c in meta_data_df.columns if c in ['cluster number', 'GEID_init']])
# meta_data_df['month of interview'] = meta_data_df['month of interview'].fillna(6)
# meta_data_df['day of interview'] = meta_data_df['day of interview'].fillna(15)

meta_data_df['year'] = meta_data_df['year of interview'].astype(float).astype('Int32')
meta_data_df['month'] = meta_data_df['month of interview'].astype(float).astype('Int32')
meta_data_df['day'] = meta_data_df['day of interview'].astype(float).astype('Int32')

#replace days >28 with 28
meta_data_df.loc[meta_data_df['day'] > 28, 'day'] = 28

# Now you can combine the year, month, and day columns into a single date column
meta_data_df['date'] = pd.to_datetime(meta_data_df[['year', 'month', 'day']])

# Group the DataFrame by 'GEID_init' and 'adm2_gaul'/'cluster number'
grouped = meta_data_df.groupby(['GEID_init', group_by_col])

# Calculate the median date for each group and reset the index
median_date = grouped['date'].median().reset_index()

# Rename the date column in median_date
median_date.rename(columns={'date': 'median_date'}, inplace=True)

# Merge meta_data_df with median_date
meta_data_df = pd.merge(meta_data_df, median_date, on=['GEID_init', group_by_col], how='left')

# Convert the median date to separate year, month, and day columns
meta_data_df['year'] = meta_data_df['median_date'].dt.year.astype('Int32')
meta_data_df['month'] = meta_data_df['median_date'].dt.month.astype('Int32')

meta_data_df[['year', 'month', 'year of interview', 'month of interview', 'day of interview', 'date', 'median_date']]

True True
['GEID_init', 'cluster number']

,year,month,year of interview,month of interview,day of interview,date,median_date
0,2006,12,2006.0,12.0,2.0,2006-12-02,2006-12-01
1,2006,12,2006.0,12.0,2.0,2006-12-02,2006-12-01
2,2006,12,2006.0,12.0,2.0,2006-12-02,2006-12-01
3,2006,12,2006.0,12.0,1.0,2006-12-01,2006-12-01
4,2006,12,2006.0,12.0,1.0,2006-12-01,2006-12-01
...,...,...,...,...,...,...,...
1605431,2015,10,2015.0,11.0,10.0,2015-11-10,2015-10-27
1605432,2015,10,2015.0,11.0,12.0,2015-11-12,2015-10-27
1605433,2015,10,2015.0,11.0,12.0,2015-11-12,2015-10-27
1605434,2015,10,2015.0,11.0,10.0,2015-11-10,2015-10-27
1605435,2015,10,2015.0,11.0,10.0,2015-11-10,2015-10-27

In [29]:
# Drop the original date column
meta_data_df['date'] = meta_data_df['median_date']
meta_data_df.drop(columns=['day', 'year of interview', 'month of interview', 'day of interview', 'median_date'], inplace=True)

# Create numeric df
numeric_df = pd.concat(numeric_columns, axis=1)

#drop cols which shouldnt be here 
numeric_df = numeric_df.drop(columns=['type of cooking fuel', 'language of interview', 'owns land usable for agriculture'])

# Create categorical df
categorical_df = pd.concat(categorical_columns, axis=1)

categorical_df = categorical_df.drop(columns=['number of rooms used for sleeping', 'hectares of agricultural land (1 decimal)'])
print(categorical_df.columns)

Index(['GEID', 'household number', 'GEID_init', 'adm2_gaul',
       'type of place of residence', 'source of drinking water',
       'has electricity', 'has radio', 'has bicycle', 'has car/truck',
       'region', 'type of toilet facility', 'has refrigerator',
       'translator used', 'has telephone (land-line)', 'has bank account',
       'language of questionnaire', 'share toilet with other households',
       'location of source for water',
       'anything done to water to make safe to drink',
       'water usually treated by: boil',
       'water usually treated by: add bleach/chlorine',
       'native language of respondent',
       'household selected for domestic violence module',
       'place where household members wash their hands',
       'presence of water at hand washing place',
       'items present: soap or detergent', 'items present: ash, mud, sand',
       'items present: none', 'location of toilet facility',
       'water not available for at least a day last two weeks',
       'has dwelling been sprayed against mosquitoes in last 12 months',
       'dwelling sprayed by: government worker/program',
       'dwelling sprayed by: private company', 'dwelling sprayed by: ngo',
       'dwelling sprayed by: other',
       'household has separate room used as kitchen', 'type of cookstove',
       'person fetching water', 'has generator', 'has fan',
       'result of salt test for iodine',
       'water usually treated by: strain through a cloth',
       'water usually treated by: let it stand and settle', 'has watch',
       'dvd player', 'has boat with a motor', 'sewing machine',
       'has animal-drawn cart', 'place of residence', 'has a computer',
       'water usually treated by: other',
       'water usually treated by: solar disinfection', 'language of interview',
       'type of cooking fuel',
       'food cooked in the house/ separate building/ outdoors', 'table',
       'has mobile telephone', 'owns land usable for agriculture', 'has bed',
       'chair', 'has television', 'has motorcycle/scooter',
       'water usually treated by: use water filter',
       'owns livestock, herds or farm animals'],
      dtype='object')

In [30]:
for col in categorical_df.columns:
    print(categorical_df[col].dtype)
    print(categorical_df[col].value_counts(normalize=True, dropna=False) * 100)
    print('\n')

object
GEID
EGGE32FL00670122    0.007350
EGGE42FL00850329    0.007163
EGGE61FL08400151    0.006727
EGGE42FL00550211    0.005481
EGGE61FL08400116    0.005419
                      ...
EGGE4BFL00990102    0.000062
EGGE4BFL04130101    0.000062
EGGE61FL01234204    0.000062
NIGE81FL00000009    0.000062
EGGE4BFL00962401    0.000062
Name: proportion, Length: 67316, dtype: float64


int64
household number
1        1.990986
3        1.952180
5        1.931376
7        1.930317
8        1.916053
           ...
18625    0.000062
19526    0.000062
10517    0.000062
15122    0.000062
6945     0.000062
Name: proportion, Length: 14803, dtype: float64


object
GEID_init
NGGE7BFL    2.505238
NGGE6AFL    2.380350
KEGE8AFL    2.361415
KEGE71FL    2.256334
NGGE52FL    2.122165
              ...
MWGE71FL    0.212092
MWGE6AFL    0.212030
AOGE52FL    0.161887
CIGE3BFL    0.132176
MLGE63FL    0.098291
Name: proportion, Length: 155, dtype: float64


object
adm2_gaul
Bamako                                0.502231
Administrative unit not available     0.462491
Region 14                             0.399082
Lilongwe                              0.358407
Mzimba                                0.322965
                                        ...
Al Tibbin                             0.000810
6 October-1                           0.000623
Police Department Port of Damietta    0.000249
Mubark-Sharq Tafrea                   0.000249
Sekyere Afram Plains North            0.000249
Name: proportion, Length: 3892, dtype: float64


object
type of place of residence
rural    65.149965
urban    34.850035
Name: proportion, dtype: float64


object
source of drinking water
tube well or borehole                                   15.574336
public tap/standpipe                                    14.370053
unprotected well                                        12.890704
piped into dwelling                                     11.846128
river/dam/lake/ponds/stream/canal/irrigation channel    10.831388
protected well                                           9.137082
piped to yard/plot                                       8.136917
unprotected spring                                       5.539866
protected spring                                         3.916132
piped to neighbor                                        2.119424
sachet water                                             1.682284
rainwater                                                1.185099
water seller                                             1.081638
well in residence                                        1.012186
other                                                    0.526399
NaN                                                      0.150364
Name: proportion, dtype: float64


object
has electricity
no     63.506923
yes    36.322033
NaN     0.171044
Name: proportion, dtype: float64


object
has radio
yes    55.845951
no     42.262787
NaN     1.891262
Name: proportion, dtype: float64


object
has bicycle
no     75.921806
yes    23.884602
NaN     0.193592
Name: proportion, dtype: float64


object
has car/truck
no     88.929736
NaN     5.991457
yes     5.078807
Name: proportion, dtype: float64


object
region
NaN                                3.500794
central                            2.423205
north central                      2.107278
southern                           2.012288
north west                         1.931376
                                     ...
shinyinga                          0.010776
center east                        0.009655
tibesti                            0.009343
siginda                            0.006229
laayoune-boujdou-sakia al hamra    0.002990
Name: proportion, Length: 583, dtype: float64


object
type of toilet facility
no facility/bush/field                   25.360463
pit latrine with slab                    18.682090
pit latrine without slab/open pit        18.117197
traditional pit toilet                   11.727157
ventilated improved pit latrine (vip)     7.203588
flush to septic tank                      5.752207
flush to piped sewer system               4.272733
traditional bucket flush                  3.172098
modern flush toilet                       3.081094
flush to pit latrine                      1.880860
other flush                               0.575731
NaN                                       0.174781
Name: proportion, dtype: float64


object
has refrigerator
no     81.010766
yes    16.300058
NaN     2.689176
Name: proportion, dtype: float64


object
translator used
NaN           50.530884
no            42.071500
not at all     4.316584
yes            3.081032
Name: proportion, dtype: float64


object
has telephone (land-line)
no     60.506865
NaN    37.997591
yes     1.495544
Name: proportion, dtype: float64


object
has bank account
no     46.026126
NaN    37.304383
yes    16.669490
Name: proportion, dtype: float64


object
language of questionnaire
NaN          56.340583
english       8.986842
french        6.384122
chichewa      3.579713
kiswahili     2.339302
               ...
ditamari      0.015385
dagbani       0.015323
zerma         0.014513
other         0.008347
nzema         0.002928
Name: proportion, Length: 74, dtype: float64


object
share toilet with other households
yes    52.408505
no     41.942563
NaN     5.648933
Name: proportion, dtype: float64


object
location of source for water
elsewhere           68.479092
in own yard/plot    16.927302
in own dwelling     14.454453
NaN                  0.139152
Name: proportion, dtype: float64


object
anything done to water to make safe to drink
no     49.418413
NaN    36.813613
yes    13.767973
Name: proportion, dtype: float64


object
water usually treated by: boil
no     56.986264
NaN    36.818285
yes     6.195451
Name: proportion, dtype: float64


object
water usually treated by: add bleach/chlorine
no     58.455086
NaN    36.818285
yes     4.726629
Name: proportion, dtype: float64


object
native language of respondent
NaN              61.279054
other             6.091367
chichewa          3.090064
malagasy          1.978777
hausa             1.709442
                   ...
ginirgna          0.000249
gourmantchema     0.000125
maogna            0.000125
kikongo           0.000062
krim              0.000062
Name: proportion, Length: 225, dtype: float64


object
household selected for domestic violence module
NaN                             57.462210
household selected              27.843215
household not selected          13.934844
woman selected                   0.238627
household selected: dv women     0.217200
household selected: dv men       0.185869
man selected                     0.118036
Name: proportion, dtype: float64


object
place where household members wash their hands
NaN                              53.502849
not observed: not in dwelling    14.994556
observed, mobile place           11.914520
observed                          8.293386
not observed other                6.323578
observed, fixed place             4.971111
Name: proportion, dtype: float64


object
presence of water at hand washing place
NaN                    53.513500
not applicable         21.318134
water is available     14.879385
water not available    10.288981
Name: proportion, dtype: float64


object
items present: soap or detergent
NaN               53.513625
not applicable    21.318134
no                15.010938
yes               10.157303
Name: proportion, dtype: float64


object
items present: ash, mud, sand
NaN               53.513625
no                24.605154
not applicable    21.318134
yes                0.563087
Name: proportion, dtype: float64


object
items present: none
NaN                                 53.513625
not applicable                      21.318134
yes, no cleansing agent observed    14.554115
no                                  10.614126
Name: proportion, dtype: float64


object
location of toilet facility
NaN                 50.820276
elsewhere           28.396897
in own yard/plot    16.811259
in own dwelling      3.971569
Name: proportion, dtype: float64


object
water not available for at least a day last two weeks
NaN                                        87.772792
no, not interrupted for a full day          8.392673
yes, interrupted for a full day or more     3.834535
Name: proportion, dtype: float64


object
has dwelling been sprayed against mosquitoes in last 12 months
NaN    67.813043
no     28.942107
yes     3.244851
Name: proportion, dtype: float64


object
dwelling sprayed by: government worker/program
NaN    66.440207
no     30.942498
yes     2.617295
Name: proportion, dtype: float64


object
dwelling sprayed by: private company
NaN    66.440207
no     33.384763
yes     0.175030
Name: proportion, dtype: float64


object
dwelling sprayed by: ngo
NaN    67.237623
no     32.542126
yes     0.220252
Name: proportion, dtype: float64


object
dwelling sprayed by: other
NaN    66.440207
no     33.515195
yes     0.044598
Name: proportion, dtype: float64


object
household has separate room used as kitchen
NaN               63.648816
not applicable    17.644677
yes                9.999028
no                 8.707479
Name: proportion, dtype: float64


object
type of cookstove
NaN                                                92.802391
three stone stove/open fire                         4.298396
liquefied petroleum gas (lpg)/cooking gas stove     1.337456
manufactured solid fuel stove                       0.781159
traditional solid fuel stove                        0.595290
no food cooked in household                         0.151174
electric stove                                      0.034134
Name: proportion, dtype: float64


object
person fetching water
NaN                                86.181386
adult woman                         9.135774
adult man                           1.950872
female child under 15 years old     1.306436
male child under 15 years old       0.519298
other                               0.337354
any household member                0.202811
female and male children 15+        0.186678
respondent                          0.146440
door to door water seller           0.032951
Name: proportion, dtype: float64


object
has generator
NaN    86.679756
no     11.873784
yes     1.446461
Name: proportion, dtype: float64


object
has fan
NaN    85.220713
no      9.010138
yes     5.769149
Name: proportion, dtype: float64


object
result of salt test for iodine
NaN                58.231222
iodine present     32.611017
no iodine           5.577363
salt not tested     3.580398
Name: proportion, dtype: float64


object
water usually treated by: strain through a cloth
no     60.970104
NaN    36.983723
yes     2.046173
Name: proportion, dtype: float64


object
water usually treated by: let it stand and settle
no     63.517823
NaN    35.489238
yes     0.992939
Name: proportion, dtype: float64


object
has watch
no     43.325987
NaN    32.795577
yes    23.878436
Name: proportion, dtype: float64


object
dvd player
NaN    82.354762
no     14.766954
yes     2.878284
Name: proportion, dtype: float64


object
has boat with a motor
no     64.988078
NaN    34.697117
yes     0.314805
Name: proportion, dtype: float64


object
sewing machine
NaN    85.158300
no     13.662831
yes     1.178870
Name: proportion, dtype: float64


object
has animal-drawn cart
no     59.421179
NaN    35.917097
yes     4.661724
Name: proportion, dtype: float64


object
place of residence
NaN                    61.549635
countryside            23.858566
small city              9.353534
capital, large city     5.238265
Name: proportion, dtype: float64


object
has a computer
NaN    52.121480
no     45.329991
yes     2.548529
Name: proportion, dtype: float64


object
water usually treated by: other
no     65.159932
NaN    34.685095
yes     0.154973
Name: proportion, dtype: float64


object
water usually treated by: solar disinfection
no     63.870313
NaN    36.100972
yes     0.028715
Name: proportion, dtype: float64


object
language of interview
NaN                   44.934149
english                5.852616
chichewa               4.643598
hausa                  3.561338
french                 2.926806
                        ...
arabic                 0.000062
yalunka                0.000062
tamacheck/bella        0.000062
hararigna/adirigna     0.000062
sherbro                0.000062
Name: proportion, Length: 212, dtype: float64


object
type of cooking fuel
wood                       49.062871
charcoal                   14.069262
firewood, straw            10.082370
NaN                         9.609041
lpg                         9.417940
kerosene                    3.216136
electricity                 2.622341
no food cooked in house     1.126797
animal dung                 0.628365
other                       0.164877
Name: proportion, dtype: float64


object
food cooked in the house/ separate building/ outdoors
NaN                       41.269599
in a separate building    21.678908
in the house              19.406815
outdoors                  17.644677
Name: proportion, dtype: float64


object
table
NaN    73.377762
yes    17.520786
no      9.101453
Name: proportion, dtype: float64


object
has mobile telephone
yes    51.957537
no     29.995465
NaN    18.046998
Name: proportion, dtype: float64


object
owns land usable for agriculture
yes    44.235771
no     29.559634
NaN    26.204595
Name: proportion, dtype: float64


object
has bed
NaN    88.419221
yes     9.346122
no      2.234658
Name: proportion, dtype: float64


object
chair
NaN    85.415738
yes    10.221398
no      4.362865
Name: proportion, dtype: float64


object
has television
no     68.318700
yes    29.041893
NaN     2.639408
Name: proportion, dtype: float64


object
has motorcycle/scooter
no     87.351972
yes    12.446463
NaN     0.201565
Name: proportion, dtype: float64


object
water usually treated by: use water filter
no     64.557790
NaN    34.685095
yes     0.757115
Name: proportion, dtype: float64


object
owns livestock, herds or farm animals
yes    39.731637
no     35.992030
NaN    24.276334
Name: proportion, dtype: float64

In [31]:
for col in numeric_df.columns:
    print(numeric_df[col].dtype)
    print(numeric_df[col].value_counts(normalize=True, dropna=False) * 100)
    print('\n')

object
GEID
EGGE32FL00670122    0.007350
EGGE42FL00850329    0.007163
EGGE61FL08400151    0.006727
EGGE42FL00550211    0.005481
EGGE61FL08400116    0.005419
                      ...
EGGE4BFL00990102    0.000062
EGGE4BFL04130101    0.000062
EGGE61FL01234204    0.000062
NIGE81FL00000009    0.000062
EGGE4BFL00962401    0.000062
Name: proportion, Length: 67316, dtype: float64


int64
household number
1        1.990986
3        1.952180
5        1.931376
7        1.930317
8        1.916053
           ...
18625    0.000062
19526    0.000062
10517    0.000062
15122    0.000062
6945     0.000062
Name: proportion, Length: 14803, dtype: float64


object
GEID_init
NGGE7BFL    2.505238
NGGE6AFL    2.380350
KEGE8AFL    2.361415
KEGE71FL    2.256334
NGGE52FL    2.122165
              ...
MWGE71FL    0.212092
MWGE6AFL    0.212030
AOGE52FL    0.161887
CIGE3BFL    0.132176
MLGE63FL    0.098291
Name: proportion, Length: 155, dtype: float64


object
adm2_gaul
Bamako                                0.502231
Administrative unit not available     0.462491
Region 14                             0.399082
Lilongwe                              0.358407
Mzimba                                0.322965
                                        ...
Al Tibbin                             0.000810
6 October-1                           0.000623
Police Department Port of Damietta    0.000249
Mubark-Sharq Tafrea                   0.000249
Sekyere Afram Plains North            0.000249
Name: proportion, Length: 3892, dtype: float64


float64
number of household members
4.0     14.856151
5.0     14.031702
3.0     13.413926
6.0     11.485914
2.0     10.511724
          ...
85.0     0.000062
79.0     0.000062
72.0     0.000062
68.0     0.000062
63.0     0.000062
Name: proportion, Length: 80, dtype: float64


float64
owns sheep
0.0     60.226007
NaN     30.917956
2.0      1.711062
1.0      1.311170
3.0      1.095715
          ...
71.0     0.000125
72.0     0.000125
87.0     0.000125
86.0     0.000125
74.0     0.000062
Name: proportion, Length: 96, dtype: float64


float64
number of eligible children for height and weight
NaN     38.072337
0.0     37.553412
1.0     13.952285
2.0      7.714166
3.0      1.819257
4.0      0.537798
5.0      0.195336
6.0      0.078795
7.0      0.035754
8.0      0.018562
9.0      0.009717
10.0     0.004921
11.0     0.002242
13.0     0.001682
12.0     0.001495
14.0     0.000934
16.0     0.000374
15.0     0.000249
17.0     0.000125
22.0     0.000125
20.0     0.000125
18.0     0.000125
19.0     0.000125
21.0     0.000062
Name: proportion, dtype: float64


float64
total adults measured
0.0     34.075043
NaN     22.592617
1.0     22.248037
2.0     12.733924
3.0      4.682404
4.0      2.046858
5.0      0.882128
6.0      0.379087
7.0      0.171168
8.0      0.084961
9.0      0.040238
10.0     0.024542
11.0     0.013766
12.0     0.007537
13.0     0.005793
14.0     0.003924
15.0     0.002242
16.0     0.001557
17.0     0.001495
20.0     0.000810
18.0     0.000685
19.0     0.000374
23.0     0.000311
21.0     0.000125
22.0     0.000125
30.0     0.000062
34.0     0.000062
28.0     0.000062
26.0     0.000062
Name: proportion, dtype: float64


float64
number of mosquito bed nets
NaN     41.838043
0.0     18.118629
1.0     13.294955
2.0     12.668895
3.0      7.993654
4.0      2.977011
5.0      1.338951
6.0      0.808628
7.0      0.676763
8.0      0.086768
10.0     0.050080
9.0      0.044100
12.0     0.025663
11.0     0.020617
15.0     0.017316
13.0     0.011336
14.0     0.010464
16.0     0.006042
20.0     0.002678
25.0     0.001993
18.0     0.001869
17.0     0.001744
19.0     0.001557
24.0     0.000810
22.0     0.000685
21.0     0.000374
23.0     0.000374
Name: proportion, dtype: float64


float64
owns rabbits
NaN     89.024477
0.0     10.685322
2.0      0.086269
1.0      0.074435
3.0      0.037186
4.0      0.023919
5.0      0.020306
6.0      0.012209
7.0      0.007412
8.0      0.006603
10.0     0.005917
9.0      0.004049
15.0     0.001993
12.0     0.001993
11.0     0.001557
20.0     0.001183
14.0     0.000747
30.0     0.000623
95.0     0.000561
16.0     0.000436
22.0     0.000311
18.0     0.000311
25.0     0.000311
19.0     0.000311
13.0     0.000311
50.0     0.000249
45.0     0.000125
60.0     0.000125
23.0     0.000125
32.0     0.000125
33.0     0.000062
24.0     0.000062
28.0     0.000062
26.0     0.000062
75.0     0.000062
90.0     0.000062
40.0     0.000062
17.0     0.000062
Name: proportion, dtype: float64


float64
number of eligible children for height & weight
NaN     71.715659
0.0     16.583408
1.0      6.759908
2.0      3.836216
3.0      0.808192
4.0      0.203060
5.0      0.059049
6.0      0.019372
7.0      0.008907
8.0      0.003052
9.0      0.001557
10.0     0.000872
12.0     0.000311
11.0     0.000249
13.0     0.000125
14.0     0.000062
Name: proportion, dtype: float64


float64
cluster altitude in meters
NaN       32.114890
0.0        0.526088
7.0        0.363141
8.0        0.306770
6.0        0.297801
            ...
3541.0     0.000062
4934.0     0.000062
3693.0     0.000062
3696.0     0.000062
2595.0     0.000062
Name: proportion, Length: 3474, dtype: float64


float64
number of eligible women in household
1.0     54.318578
0.0     23.671763
2.0     15.063073
3.0      4.589844
4.0      1.404291
5.0      0.487033
6.0      0.192035
NaN      0.098291
7.0      0.082096
8.0      0.041609
9.0      0.020804
10.0     0.013143
11.0     0.006852
12.0     0.003800
13.0     0.002367
14.0     0.001370
15.0     0.001059
17.0     0.000623
16.0     0.000561
18.0     0.000436
20.0     0.000187
22.0     0.000062
26.0     0.000062
31.0     0.000062
Name: proportion, dtype: float64


float64
number of eligible men in hh
NaN     70.028952
0.0     20.141008
1.0      7.192439
2.0      1.784437
3.0      0.578223
4.0      0.179328
5.0      0.058302
6.0      0.021926
7.0      0.008097
8.0      0.003986
9.0      0.001433
10.0     0.000872
11.0     0.000311
12.0     0.000311
13.0     0.000187
14.0     0.000125
16.0     0.000062
Name: proportion, dtype: float64


float64
number of children 5 and under (de jure)
0.0     43.397993
1.0     26.931376
2.0     18.777890
3.0      5.835611
NaN      2.514644
4.0      1.534599
5.0      0.571309
6.0      0.225359
7.0      0.098353
8.0      0.051824
9.0      0.025974
10.0     0.013517
11.0     0.007475
12.0     0.004796
13.0     0.003177
15.0     0.001806
14.0     0.001806
16.0     0.000872
17.0     0.000498
18.0     0.000311
19.0     0.000187
20.0     0.000187
24.0     0.000125
23.0     0.000062
26.0     0.000062
22.0     0.000062
27.0     0.000062
21.0     0.000062
Name: proportion, dtype: float64


float64
number of households sharing toilet
0.0     41.942563
10.0    28.993931
NaN     10.047862
2.0      7.023326
3.0      4.684086
4.0      2.697523
5.0      1.799885
6.0      1.137323
7.0      0.673150
8.0      0.557979
9.0      0.361397
1.0      0.080975
Name: proportion, dtype: float64


float64
hectares of agricultural land (1 decimal)
NaN      32.471241
0.0      31.563077
10.0      4.032799
20.0      3.921053
1.0       2.888001
           ...
433.0     0.000062
526.0     0.000062
388.0     0.000062
253.0     0.000062
487.0     0.000062
Name: proportion, Length: 519, dtype: float64


float64
number of rooms used for sleeping
1.0     30.265859
2.0     26.366358
NaN     18.892563
3.0     14.294435
4.0      5.591752
5.0      2.132069
6.0      1.090171
7.0      0.456823
8.0      0.286464
0.0      0.184623
9.0      0.133858
10.0     0.110873
12.0     0.049706
11.0     0.046529
13.0     0.018811
14.0     0.016382
15.0     0.013890
22.0     0.010900
16.0     0.008845
20.0     0.006042
24.0     0.005731
18.0     0.004360
17.0     0.004360
21.0     0.003114
23.0     0.002118
19.0     0.001806
30.0     0.000436
25.0     0.000187
27.0     0.000187
32.0     0.000125
33.0     0.000125
31.0     0.000125
35.0     0.000062
98.0     0.000062
44.0     0.000062
40.0     0.000062
28.0     0.000062
59.0     0.000062
Name: proportion, dtype: float64


float64
owns goats
0.0     56.770746
NaN     25.111994
2.0      3.317354
1.0      2.570018
3.0      2.453290
          ...
83.0     0.000249
79.0     0.000187
93.0     0.000187
81.0     0.000125
77.0     0.000062
Name: proportion, Length: 96, dtype: float64


float64
owns horses/ donkeys/ mules
0.0     66.003316
NaN     28.514871
1.0      2.580732
2.0      1.460725
3.0      0.603574
          ...
37.0     0.000062
68.0     0.000062
65.0     0.000062
39.0     0.000062
77.0     0.000062
Name: proportion, Length: 68, dtype: float64


float64
time to get to water source (minutes)
0.0      28.474196
10.0     11.467913
30.0      9.792605
5.0       7.196363
20.0      6.778221
           ...
355.0     0.000062
344.0     0.000062
117.0     0.000062
402.0     0.000062
428.0     0.000062
Name: proportion, Length: 314, dtype: float64


float64
owns cows/ bulls
0.0     64.113985
NaN     26.677987
2.0      2.401092
1.0      2.203576
3.0      1.035357
          ...
88.0     0.000125
82.0     0.000125
71.0     0.000125
86.0     0.000062
83.0     0.000062
Name: proportion, Length: 95, dtype: float64


float64
owns chickens/poultry
0.0     43.401107
NaN     33.177778
10.0     2.472848
2.0      2.332201
5.0      2.249171
          ...
71.0     0.000311
92.0     0.000311
91.0     0.000311
81.0     0.000311
93.0     0.000187
Name: proportion, Length: 97, dtype: float64


float64
share toilet with other households: applicable
1.0    74.639537
0.0    25.360463
Name: proportion, dtype: float64


float64
share toilet with other households: not applicable
0.0    74.639537
1.0    25.360463
Name: proportion, dtype: float64


float64
number of households sharing toilet: applicable
1.0    74.639537
0.0    25.360463
Name: proportion, dtype: float64


float64
number of households sharing toilet: not applicable
0.0    74.639537
1.0    25.360463
Name: proportion, dtype: float64

In [32]:
for col in meta_data_df.columns:
    print(meta_data_df[col].dtype)
    print(meta_data_df[col].value_counts(normalize=True, dropna=False) * 100)
    print('\n')
meta_data_df.to_csv(meta_data_cols_out_f.replace('.pkl', '.csv'), index=False)
meta_data_df.to_pickle(meta_data_cols_out_f)

object
country code and phase
NG6    3.224046
EG4    2.914660
KE6    2.660025
NG7    2.505238
KE8    2.361415
         ...
SZ5    0.296244
NI7    0.294562
BJ3    0.280235
KM6    0.267591
TZ3    0.221871
Name: proportion, Length: 117, dtype: float64


object
GEID
EGGE32FL00670122    0.007350
EGGE42FL00850329    0.007163
EGGE61FL08400151    0.006727
EGGE42FL00550211    0.005481
EGGE61FL08400116    0.005419
                      ...
EGGE4BFL00990102    0.000062
EGGE4BFL04130101    0.000062
EGGE61FL01234204    0.000062
NIGE81FL00000009    0.000062
EGGE4BFL00962401    0.000062
Name: proportion, Length: 67316, dtype: float64


object

DHSID
EGHR33SV00670122    0.007350
EGHR42SV00850329    0.007163
EGHR61SV08400151    0.006727
EGHR42SV00550211    0.005481
EGHR61SV08400116    0.005419
                      ...
EGHR4ASV00990102    0.000062
EGHR4ASV04130101    0.000062
EGHR61SV01234204    0.000062
NIHR82SV00000009    0.000062
EGHR4ASV00962401    0.000062
Name: proportion, Length: 67316, dtype: float64


object
DHSID + HHID
AOHR51SV0000000100000001    0.000062
NGHR71SV0000009000000087    0.000062
NGHR71SV0000009100000041    0.000062
NGHR71SV0000009100000039    0.000062
NGHR71SV0000009100000036    0.000062
                              ...
GNHR71SV0000017300000094    0.000062
GNHR71SV0000017300000089    0.000062
GNHR71SV0000017300000085    0.000062
GNHR71SV0000017300000080    0.000062
ZWHR72SV0000040000000029    0.000062
Name: proportion, Length: 1605436, dtype: float64


int64
version_nr
6    31.103638
7    26.287999
5    16.533764
4    13.969227
8     6.315481
3     5.130943
2     0.658949
Name: proportion, dtype: float64


object
subversion_nr
1    49.749289
A    15.701093
2    14.078481
B     8.317118
3     6.805815
I     1.625727
E     0.850174
0     0.791000
4     0.648609
Z     0.521977
5     0.369682
H     0.280983
D     0.260054
Name: proportion, dtype: float64


int64
household number
1        1.990986
3        1.952180
5        1.931376
7        1.930317
8        1.916053
           ...
18625    0.000062
19526    0.000062
10517    0.000062
15122    0.000062
6945     0.000062
Name: proportion, Length: 14803, dtype: float64


object
case identification
NaN             0.562090
       10213    0.002305
       13119    0.002242
       16111    0.002242
       13216    0.002242
                  ...
      391153    0.000062
      391133    0.000062
      391 92    0.000062
      391 40    0.000062
      380 25    0.000062
Name: proportion, Length: 762023, dtype: float64


int64
DHSCLUST
106        0.219442
103        0.218944
101        0.218694
104        0.216764
107        0.216577
             ...
550702     0.000062
4880102    0.000062
1051401    0.000062
1234204    0.000062
1182601    0.000062
Name: proportion, Length: 8349, dtype: float64


object
country code
NG    9.154149
EG    6.784076
KE    6.611475
MW    5.538745
TZ    4.673185
MD    4.557516
UG    4.524254
ET    4.258843
ML    4.034480
SN    3.744092
RW    3.464542
BF    3.287892
GH    3.270576
CM    2.637477
BJ    2.582850
SL    2.462571
LB    2.336375
ZM    2.219522
ZW    2.202891
CI    2.006745
GN    1.886528
BU    1.830219
LS    1.668643
AO    1.648213
MZ    1.627782
CD    1.579571
NM    1.574463
TG    1.366358
GA    1.334155
NI    1.333407
TD    1.073416
MA    0.717126
ZA    0.690342
GM    0.407927
CF    0.345763
SZ    0.296244
KM    0.267591
Name: proportion, dtype: float64


object
adm1_gaul
Southern Region    2.638224
Eastern            2.246057
Central Region     1.886902
Rift Valley        1.746255
Northern           1.521892
                     ...
Jonglei            0.001495
Lago niassa        0.001370
Cacheu             0.001183
Guidimakha         0.001183
Brakna             0.000934
Name: proportion, Length: 560, dtype: float64


object
adm0_gaul
Nigeria                             9.154149
Egypt                               6.784076
Kenya                               6.611475
Malawi                              5.538745
United Republic of Tanzania         4.673185
Madagascar                          4.557516
Uganda                              4.524254
Ethiopia                            4.258843
Mali                                4.034480
Senegal                             3.744092
Rwanda                              3.464542
Burkina Faso                        3.287892
Ghana                               3.270576
Cameroon                            2.637477
Benin                               2.582850
Sierra Leone                        2.462571
Liberia                             2.336375
Zambia                              2.219522
Zimbabwe                            2.202891
Côte d'Ivoire                       2.006745
Guinea                              1.886528
Burundi                             1.830219
Lesotho                             1.668643
Angola                              1.648213
Mozambique                          1.627782
Democratic Republic of the Congo    1.579571
Namibia                             1.574463
Togo                                1.366358
Gabon                               1.334155
Niger                               1.333407
Chad                                1.073416
Morocco                             0.717126
South Africa                        0.690342
Gambia                              0.407927
Central African Republic            0.345763
Swaziland                           0.296244
Comoros                             0.267591
Name: proportion, dtype: float64


object
GEID_init
NGGE7BFL    2.505238
NGGE6AFL    2.380350
KEGE8AFL    2.361415
KEGE71FL    2.256334
NGGE52FL    2.122165
              ...
MWGE71FL    0.212092
MWGE6AFL    0.212030
AOGE52FL    0.161887
CIGE3BFL    0.132176
MLGE63FL    0.098291
Name: proportion, Length: 155, dtype: float64


int64
cluster number
106        0.219442
103        0.218944
101        0.218694
104        0.216764
107        0.216577
             ...
550702     0.000062
4880102    0.000062
1051401    0.000062
1234204    0.000062
1182601    0.000062
Name: proportion, Length: 8349, dtype: float64


object
adm2_gaul
Bamako                                0.502231
Administrative unit not available     0.462491
Region 14                             0.399082
Lilongwe                              0.358407
Mzimba                                0.322965
                                        ...
Al Tibbin                             0.000810
6 October-1                           0.000623
Police Department Port of Damietta    0.000249
Mubark-Sharq Tafrea                   0.000249
Sekyere Afram Plains North            0.000249
Name: proportion, Length: 3892, dtype: float64


object
URBAN_RURA
R    65.112406
U    34.887594
Name: proportion, dtype: float64


Int32
year
2014    7.799813
2013    7.051729
2018    6.645235
2011    6.586311
2008    6.027646
2016    6.012261
2015    5.885379
2021    5.433353
2012    4.990171
2010    4.737031
2005    4.115331
2022    3.714069
2000    3.424989
2003     3.11473
2019    3.026343
2009     2.83163
2017    2.520499
2004    2.420339
2007    2.222138
2006    1.954049
2020     1.91462
1999    1.361935
2001    1.337518
1995    1.249318
1998    1.198491
1997    0.742041
1996    0.677075
1994    0.588065
1993    0.354919
<NA>    0.062974
Name: proportion, dtype: Float64


Int32
month
11      11.321722
12       9.383931
4        9.244592
10       9.222168
5        9.134902
7        8.480811
9        8.192292
1        8.074754
3        7.477657
6         7.01554
8        6.366993
2        6.021666
<NA>     0.062974
Name: proportion, dtype: Float64


datetime64[ns]
date
2014-07-28    0.364138
2012-10-23    0.267591
2021-10-28    0.253327
2011-01-28    0.246724
2015-11-26    0.240122
                ...
1998-10-21    0.000561
1998-10-05    0.000561
1994-01-27    0.000436
2000-12-19    0.000125
2006-12-10    0.000062
Name: proportion, Length: 5695, dtype: float64

In [33]:
print(len(categorical_df), len(df), len(numeric_df), len(meta_data_df))
print('GEID' in categorical_df.columns, 'GEID' in numeric_df.columns, 'GEID' in meta_data_df.columns)
print('household number' in categorical_df.columns, 'household number' in numeric_df.columns, 'household number' in meta_data_df.columns)

1605436 1605436 1605436 1605436
True True True
True True True

In [34]:
cols = ['GEID', 'adm2_gaul', 'adm1_gaul', 'adm0_gaul', 'year', 'month', 'household number', 'cluster number', 'date']
if group_by_col in cols:    
    cols.remove(group_by_col)
    
numeric_df2 = pd.merge(meta_data_df[cols], numeric_df, on=['GEID', 'household number'])
# categorical_df2 = pd.merge(meta_data_df[['GEID', 'household number']], categorical_df, on=['GEID', 'household number'])
assert len(df) == len(numeric_df2) == len(meta_data_df)
for na, df in [('numeric', numeric_df2), ('cat', categorical_df)]:
    for col in df.columns:
        if '_x' in col:
            print(na, col)
numeric_df2

,GEID,adm1_gaul,adm0_gaul,year,month,household number,cluster number,date,GEID_init,adm2_gaul,...,number of rooms used for sleeping,owns goats,owns horses/ donkeys/ mules,time to get to water source (minutes),owns cows/ bulls,owns chickens/poultry,share toilet with other households: applicable,share toilet with other households: not applicable,number of households sharing toilet: applicable,number of households sharing toilet: not applicable
0,AOGE52FL00000001,Benguela,Angola,2006,12,1,1,2006-12-01,AOGE52FL,Lobito,...,NaN,NaN,NaN,0.0,NaN,NaN,1.0,0.0,1.0,0.0
1,AOGE52FL00000001,Benguela,Angola,2006,12,2,1,2006-12-01,AOGE52FL,Lobito,...,NaN,NaN,NaN,0.0,NaN,NaN,1.0,0.0,1.0,0.0
2,AOGE52FL00000001,Benguela,Angola,2006,12,3,1,2006-12-01,AOGE52FL,Lobito,...,NaN,NaN,NaN,1.0,NaN,NaN,1.0,0.0,1.0,0.0
3,AOGE52FL00000001,Benguela,Angola,2006,12,4,1,2006-12-01,AOGE52FL,Lobito,...,NaN,NaN,NaN,1.0,NaN,NaN,1.0,0.0,1.0,0.0
4,AOGE52FL00000001,Benguela,Angola,2006,12,5,1,2006-12-01,AOGE52FL,Lobito,...,NaN,NaN,NaN,1.0,NaN,NaN,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1605431,ZWGE72FL00000400,Mashonaland East,Zimbabwe,2015,10,25,400,2015-10-27,ZWGE72FL,Murehwa,...,2.0,7.0,0.0,0.0,NaN,31.0,1.0,0.0,1.0,0.0
1605432,ZWGE72FL00000400,Mashonaland East,Zimbabwe,2015,10,26,400,2015-10-27,ZWGE72FL,Murehwa,...,2.0,0.0,0.0,0.0,NaN,10.0,0.0,1.0,0.0,1.0
1605433,ZWGE72FL00000400,Mashonaland East,Zimbabwe,2015,10,27,400,2015-10-27,ZWGE72FL,Murehwa,...,3.0,3.0,0.0,10.0,NaN,0.0,1.0,0.0,1.0,0.0
1605434,ZWGE72FL00000400,Mashonaland East,Zimbabwe,2015,10,28,400,2015-10-27,ZWGE72FL,Murehwa,...,3.0,8.0,0.0,0.0,NaN,5.0,1.0,0.0,1.0,0.0
1605435,ZWGE72FL00000400,Mashonaland East,Zimbabwe,2015,10,29,400,2015-10-27,ZWGE72FL,Murehwa,...,1.0,0.0,0.0,10.0,NaN,7.0,1.0,0.0,1.0,0.0

In [35]:
# List of columns to exclude from the aggregation
cols_to_exclude = ['adm1_gaul', 'adm0_gaul', 'year', 'month', 'GEID_init', 'adm2_gaul', 'GEID', 'household number', 'cluster number']
# if 'cluster number' != group_by_col:
#     cols_to_exclude.append('cluster number')
cols_to_include_again = ['adm1_gaul', 'adm0_gaul', 'year', 'month', 'date']
if 'adm2_gaul' != group_by_col:
    cols_to_include_again.append('adm2_gaul')
# List of columns to include in the aggregation
cols_to_include = [col for col in numeric_df.columns if col not in cols_to_exclude]

numeric_df = numeric_df2
# Group the DataFrame
grouped_df = numeric_df.groupby(['GEID_init', group_by_col])

# Perform the aggregation on a copy of the DataFrame
# agg_df = grouped_df[cols_to_include].agg(['mean', 'median', 'std', lambda x: scipy.stats.skew(x.dropna()) if not x.dropna().empty else np.nan])
agg_df = grouped_df[cols_to_include].agg(['mean', 'median', 'std', 
                                          lambda x: scipy.stats.skew(x.dropna()) if not x.dropna().empty else np.nan,
                                          lambda x: scipy.stats.kurtosis(x.dropna()) if not x.dropna().empty else np.nan])
# Get the first occurrence of the cols_to_exclude in each group
grouped_df = grouped_df[cols_to_include_again].agg('first')
# grouped_df = grouped_df[cols_to_exclude].first()
# Add a second level to the columns in grouped_df
grouped_df.columns = pd.MultiIndex.from_product([grouped_df.columns, ['']])

assert len(grouped_df) == len(agg_df)
# Merge the aggregation result back to the original DataFrame
grouped_df = pd.concat([grouped_df, agg_df], axis=1)

# Rename the last aggregation function to 'skew'
# Rename the last two aggregation functions to 'skewness' and 'kurtosis'
grouped_df.rename(columns={'<lambda_0>': 'skewness', '<lambda_1>': 'kurtosis'}, level=1, inplace=True)
# grouped_df.rename(columns={'<lambda_0>': 'skewness'}, level=1, inplace=True)

# Calculate the count of non-NaN values in each column
count_df = numeric_df.groupby(['GEID_init', group_by_col]).count()

# Calculate the size of each group
households = numeric_df.groupby(['GEID_init', group_by_col]).size()

assert len(grouped_df) == len(households)

# Add the size of each group to the grouped DataFrame
grouped_df[('amount of households', '')] = households.values

# Calculate the percentage of valid answers
percentage_df = count_df.div(grouped_df[('amount of households', '')], axis=0) * 100

assert len(percentage_df) == len(grouped_df)
# Add the percentage of valid answers to the grouped DataFrame
for col in percentage_df.columns:
    grouped_df[(col, 'percentage of valid answers')] = percentage_df[col]

# Flatten the MultiIndex
grouped_df.columns = [': '.join(col).strip() if isinstance(col, tuple) and col[1] else col[0] for col in grouped_df.columns.values]

# Reset the index
grouped_df.reset_index(inplace=True)
numerical_grouped_df = grouped_df
grouped_df

,GEID_init,adm2_gaul,adm1_gaul,adm0_gaul,year,month,date,number of household members: mean,number of household members: median,number of household members: std,...,number of rooms used for sleeping: percentage of valid answers,owns goats: percentage of valid answers,owns horses/ donkeys/ mules: percentage of valid answers,time to get to water source (minutes): percentage of valid answers,owns cows/ bulls: percentage of valid answers,owns chickens/poultry: percentage of valid answers,share toilet with other households: applicable: percentage of valid answers,share toilet with other households: not applicable: percentage of valid answers,number of households sharing toilet: applicable: percentage of valid answers,number of households sharing toilet: not applicable: percentage of valid answers
0,AOGE52FL,Ambaca,Kuanza Norte,Angola,2007,3,2007-03-06,5.160000,5.0,1.907878,...,0.0,0.0,0.0,52.000000,0.000000,0.000000,100.0,100.0,100.0,100.0
1,AOGE52FL,Amboim,Cuanza Sul,Angola,2006,12,2006-12-11,5.280000,5.0,2.282542,...,0.0,0.0,0.0,100.000000,0.000000,0.000000,100.0,100.0,100.0,100.0
2,AOGE52FL,Andulo,Bie,Angola,2007,1,2007-01-08,4.000000,4.0,1.632993,...,0.0,0.0,0.0,80.000000,0.000000,0.000000,100.0,100.0,100.0,100.0
3,AOGE52FL,Baia Farta,Benguela,Angola,2006,11,2006-11-27,5.208333,5.0,2.283764,...,0.0,0.0,0.0,33.333333,0.000000,0.000000,100.0,100.0,100.0,100.0
4,AOGE52FL,Balombo,Benguela,Angola,2006,12,2006-12-07,4.210526,4.0,1.618605,...,0.0,0.0,0.0,100.000000,0.000000,0.000000,100.0,100.0,100.0,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15247,ZWGE72FL,Umzingwane,Matabeleland South,Zimbabwe,2015,7,2015-07-10,4.642857,4.0,2.865006,...,100.0,100.0,100.0,100.000000,19.047619,100.000000,100.0,100.0,100.0,100.0
15248,ZWGE72FL,Uzumba-Maramba-Pfungwe,Mashonaland East,Zimbabwe,2015,10,2015-10-12,4.075949,4.0,2.080262,...,100.0,100.0,100.0,100.000000,15.189873,100.000000,100.0,100.0,100.0,100.0
15249,ZWGE72FL,Zaka,Masvingo,Zimbabwe,2015,10,2015-10-19,4.366337,4.0,2.415462,...,100.0,100.0,100.0,99.009901,6.930693,100.000000,100.0,100.0,100.0,100.0
15250,ZWGE72FL,Zvimba,Mashonaland West,Zimbabwe,2015,11,2015-11-25,4.546154,4.0,2.385718,...,100.0,100.0,100.0,100.000000,36.153846,100.000000,100.0,100.0,100.0,100.0
15251,ZWGE72FL,Zvishavane,Midlands,Zimbabwe,2015,7,2015-07-28,3.475610,3.0,1.722943,...,100.0,100.0,100.0,100.000000,35.365854,98.780488,100.0,100.0,100.0,100.0

In [36]:
#continue here
del grouped_df
grouped_dfs = []

# categorical_df = categorical_df2
# Group the DataFrame by 'GEID_init' and 'adm2_gaul'
grouped = categorical_df.groupby(['GEID_init', group_by_col])

for col in categorical_df.columns:
    if col not in cols_to_exclude:
        # Calculate the normalized count of each category excluding NaNs
        counts = grouped[col].value_counts(normalize=True).unstack()
        
        # Only fill NaNs with 0 if there were values in the group
        if not counts.empty:
            counts = counts.fillna(0)
        
        if add_str == '_w_NANs':
            # Calculate the normalized count of NaNs
            nan_counts = grouped[col].apply(lambda x: x.isna().mean()).rename('NaN')
            
            # Append the count of NaNs to the counts of the other categories
            counts = pd.concat([counts, nan_counts], axis=1)
        
        # Flatten the MultiIndex and add a ': ' between the original column name and the value_counts.index items
        counts.columns = [f'{col}: {c}' for c in counts.columns]
        
        grouped_dfs.append(counts)
        
# Concatenate the results
grouped_df = pd.concat(grouped_dfs, axis=1)
grouped_df.reset_index(inplace=True)
categorical_grouped_df = grouped_df[[c for c in grouped_df.columns if c not in numerical_grouped_df.columns or c in ['GEID_init', group_by_col]]]

/tmp/ipykernel_1220311/4102915504.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  grouped_df.reset_index(inplace=True)
/tmp/ipykernel_1220311/4102915504.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  grouped_df.reset_index(inplace=True)

In [37]:
# merge both dfs
grouped_df = pd.merge(numerical_grouped_df, categorical_grouped_df, on=['GEID_init', group_by_col], how='inner')
grouped_df

,GEID_init,adm2_gaul,adm1_gaul,adm0_gaul,year,month,date,number of household members: mean,number of household members: median,number of household members: std,...,has television: NaN,has motorcycle/scooter: no,has motorcycle/scooter: yes,has motorcycle/scooter: NaN,water usually treated by: use water filter: no,water usually treated by: use water filter: yes,water usually treated by: use water filter: NaN,"owns livestock, herds or farm animals: no","owns livestock, herds or farm animals: yes","owns livestock, herds or farm animals: NaN"
0,AOGE52FL,Ambaca,Kuanza Norte,Angola,2007,3,2007-03-06,5.160000,5.0,1.907878,...,0.0,0.920000,0.080000,0.0,NaN,NaN,1.000000,NaN,NaN,1.0
1,AOGE52FL,Amboim,Cuanza Sul,Angola,2006,12,2006-12-11,5.280000,5.0,2.282542,...,0.0,0.600000,0.400000,0.0,NaN,NaN,1.000000,NaN,NaN,1.0
2,AOGE52FL,Andulo,Bie,Angola,2007,1,2007-01-08,4.000000,4.0,1.632993,...,0.0,0.920000,0.080000,0.0,NaN,NaN,1.000000,NaN,NaN,1.0
3,AOGE52FL,Baia Farta,Benguela,Angola,2006,11,2006-11-27,5.208333,5.0,2.283764,...,0.0,0.791667,0.208333,0.0,NaN,NaN,1.000000,NaN,NaN,1.0
4,AOGE52FL,Balombo,Benguela,Angola,2006,12,2006-12-07,4.210526,4.0,1.618605,...,0.0,0.947368,0.052632,0.0,NaN,NaN,1.000000,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15247,ZWGE72FL,Umzingwane,Matabeleland South,Zimbabwe,2015,7,2015-07-10,4.642857,4.0,2.865006,...,0.0,0.976190,0.023810,0.0,0.97619,0.02381,0.000000,0.190476,0.809524,0.0
15248,ZWGE72FL,Uzumba-Maramba-Pfungwe,Mashonaland East,Zimbabwe,2015,10,2015-10-12,4.075949,4.0,2.080262,...,0.0,1.000000,0.000000,0.0,1.00000,0.00000,0.000000,0.151899,0.848101,0.0
15249,ZWGE72FL,Zaka,Masvingo,Zimbabwe,2015,10,2015-10-19,4.366337,4.0,2.415462,...,0.0,1.000000,0.000000,0.0,1.00000,0.00000,0.000000,0.069307,0.930693,0.0
15250,ZWGE72FL,Zvimba,Mashonaland West,Zimbabwe,2015,11,2015-11-25,4.546154,4.0,2.385718,...,0.0,0.976923,0.023077,0.0,1.00000,0.00000,0.007692,0.361538,0.638462,0.0
15251,ZWGE72FL,Zvishavane,Midlands,Zimbabwe,2015,7,2015-07-28,3.475610,3.0,1.722943,...,0.0,1.000000,0.000000,0.0,1.00000,0.00000,0.000000,0.353659,0.646341,0.0

In [38]:
grouped_df.to_csv(out_f.replace('.pkl', '.csv'), index=False)
grouped_df.to_pickle(out_f)